<div class="footer-bottom">
    <div class="row" *ngFor="let service of services">
        <div class="col-sm-3">
            <label class="check_box">
                <input type="checkbox" value="{{service.id}}">
                <span>{{service.name}}</span>
            </label>
        </div>
    </div>
    <div style="text-align: right;">
        <button type="button" class="btn-fill btn btn-sm btn-default" style="opacity: 0.5;">
            <span>Update</span>
        </button>
        <br>
    </div>
</div>