<body class="fixed-header" style="margin-top: 75px">
    <noscript>Bạn cần có cho phép Javascript hoạt động để chạy ứng dụng
    PlayerDuo.</noscript>
    <div id="root">
        <!-- <app-frontend-user-header></app-frontend-user-header> -->

        <div class="notifications-wrapper"></div>
        <div></div>
        <div class="wrapper">
            <div class="setting__main row">
                <div class="setting__main--menu col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="menu">
                        <div class="menu__setting panel-group">
                            <div class="menu__setting--main panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <a aria-expanded="true" class="" role="button" href="#">TÀI KHOẢN
                    </a>
                                    </div>
                                </div>
                                <div class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="panel-group">
                                            <div class="menu__setting--sub panel panel-default">

                                                <div class="panel-heading">
                                                    <div class=" active panel-title">
                                                        <a role="menuitem" tabindex="-1" [routerLink]="['../../user/profile']">
                                                            <i class="fas fa-user-tie"></i> Thông tin cá nhân
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="menu__setting--sub panel panel-default">
                                                <div class="panel-heading">
                                                    <div class="panel-title">
                                                        <a role="menuitem" tabindex="-1" [routerLink]="['../services']">
                                                            <i class="fas fa-sliders-h"></i> Dịch vụ cung cấp
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="menu__setting--sub panel panel-default">
                                                <div class="panel-heading">
                                                    <div class="panel-title">
                                                        <a role="menuitem" tabindex="-1" [routerLink]="['../orders']">
                                                            <i class="fas fa-sliders-h"></i> Đơn thuê
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>

                                            <!-- <div class="menu__setting--sub panel panel-default">
                                     <div class="panel-heading">
                                        <div class="title-sub  panel-title"><a aria-expanded="true" class="" role="button" href="#"><i class="fas fa-cog"></i> lịch sử thuê <i class="fas fa-chevron-down"></i></a></div>
                                     </div>
                                     <div class="panel-collapse collapse in" style="">
                                        <div class="panel-body">
                                           <div class="panel-group">
                                              <div class="menu__setting--last panel panel-default">
                                                 <div class="panel-heading">
                                                    <div class="panel-title">Email</div>
                                                 </div>
                                              </div>
                                              <div class="menu__setting--last panel panel-default">
                                                 <div class="panel-heading">
                                                    <div class="panel-title">Tài khoản và mật khẩu</div>
                                                 </div>
                                              </div>
                                              <div class="menu__setting--last panel panel-default">
                                                 <div class="panel-heading">
                                                    <div class="panel-title">Khoá bảo vệ</div>
                                                 </div>
                                              </div>
                                              <div class="menu__setting--last panel panel-default">
                                                 <div class="panel-heading">
                                                    <div class="panel-title">Vip</div>
                                                 </div>
                                              </div>
                                              <div class="menu__setting--last panel panel-default">
                                                 <div class="panel-heading">
                                                    <div class="panel-title">Hiển thị</div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div> -->
                                            <!--
                                  <div class="menu__setting--sub panel panel-default">
                                     <div class="panel-heading">
                                        <div class="  panel-title"><i class="fas fa-wallet"></i> Ví </div>
                                     </div>
                                  </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="menu__setting--main panel panel-default">
                         <div class="panel-heading">
                            <div class="panel-title"><a aria-expanded="false" class="collapsed" role="button" href="#">TRANG CÁ NHÂN <i class="fas fa-chevron-right"></i></a></div>
                         </div>
                         <div class="panel-collapse collapse">
                            <div class="panel-body">
                               <div class="panel-group">
                                  <div class="menu__setting--sub panel panel-default">
                                     <div class="panel-heading">
                                        <div class="title-sub  panel-title"><a aria-expanded="false" class="collapsed" role="button" href="#"><i class="fas fa-tags"></i> Hashtags <i class="fas fa-chevron-right"></i></a></div>
                                     </div>
                                     <div class="panel-collapse collapse">
                                        <div class="panel-body">
                                           <div class="panel-group">
                                              <div class="menu__setting--last panel panel-default">
                                                 <div class="panel-heading">
                                                    <div class="panel-title">Dành cho sáng tạo nội dung</div>
                                                 </div>
                                              </div>
                                              <div class="menu__setting--last panel panel-default">
                                                 <div class="panel-heading">
                                                    <div class="panel-title">Dành cho người xem</div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
  
  
                               </div>
                            </div>
                         </div>
                      </div> -->
                        </div>
                        <div class="btn-drawer-setting visible-xs">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
                <div class="wrapper col-md-8">
                    <div class="container">
                        <div class="user__profile row">
                            <div class="group-main-wrap col-md-8">
                                <div class="publish-post-wrap">

                                    <div class="header">
                                        <h3 style="text-align: center;">Select services you want to provide</h3>
                                    </div>

                                    <div class="footer">
                                        <div class="footer-bottom">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="card-header">
                                                        <p>Default Services</p>
                                                    </div>
                                                    <div *ngFor="let service of defaultServices">
                                                        <label class="check_box">
                              <input type="checkbox" value="{{service.id}}" style="margin-right: 10px;" checked disabled
                                (change)="getNewProvidingServices(service.id)">
                              <span>{{service.name}}</span>
                            </label>
                                                    </div>
                                                </div>


                                                <div class="col-sm-4">
                                                    <div class="card-header">
                                                        <p>Free Services</p>
                                                    </div>
                                                    <div *ngFor="let service of freeServices">
                                                        <label class="check_box">
                              <input type="checkbox" value="{{service.id}}" style="margin-right: 10px;"
                                [checked]="providingFreeServiceIds.indexOf(service.id) !== -1"
                                (change)="getNewProvidingServices(service.id)">
                              <span>{{service.name}}</span>
                            </label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="card-header">
                                                        <p>Extra Services</p>
                                                    </div>
                                                    <div *ngFor="let service of extraServices">
                                                        <label class="check_box">
                              <input type="checkbox" value="{{service.id}}" style="margin-right: 10px;"
                                [checked]="providingExtraServiceIds.indexOf(service.id) !== -1"
                                (change)="getNewProvidingServices(service.id)">
                              <span>{{service.name}}</span>
                            </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <button type="button" class="btn-fill btn btn-sm btn-default" (click)="updateProvidingService(provider_id)">
                          <span>Confirm</span>
                        </button>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="button-scroll-top" style="display: none">
            <button><i class="fas fa-chevron-up"></i></button>
        </div>
    </div>
    <app-frontend-footer></app-frontend-footer>
</body>