<div class="notifications-wrapper"></div>
    <div></div>

<div class="wrapper" *ngFor="let user of users">
  <div class="container">
    <div class="player-profile-left-wrap col-md-3">
      <div class="avt avt-lg">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPxZ7cdHVKGvs3elopp8Om8nYqkGRGYIwsYQ&usqp=CAU"
          class="avt-img" alt="PD">
      </div>
      <div class="rent-time-wrap">
        <p class="ready">Đang sẵn sàng</p>
      </div>
      <div class="social-icon">
        <div class="icon-wrap facebook"><a href="https://www.facebook.com/Leethiihoongcaam" target="_blank"
            rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a></div>
        <div class="icon-wrap user-page"><a href="https://playerduo.com/sun21s" target="_blank"
            rel="noopener noreferrer">
            <img src="assets/frontend/static/icons/player-card.png" alt="PD" title="Trang cá nhân"
              class="option-icon img-rounded"></a></div>
      </div>
      <div class="member-since"><span>Ngày tham gia:</span><span><span>24/7/2018</span></span></div>
      <div class="ui-category">
        <div class="border-category"> </div>
        <div class="title-category"><span class="member-since-septem">Thành tích</span></div>
      </div>
      <table class="table-achievement table">
        <tbody>
          <tr style="display: flex; flex-direction: column;">
            <td><i class="fas fa-award"></i> Chúng ta không có sau này :(</td>
            <td>05-06-2020</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="player-profile-right-wrap col-md-3 col-md-push-6">
      <div class="right-player-profile">
        <p class="price-player-profile">{{user.price|number}} đ/h</p>
        <div class="rateting-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
            class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>&nbsp;<span>216
            <span>Đánh giá</span></span></div>
        <div class="text-center"><button class="btn-my-style red" >Thuê</button><button
            class="btn-my-style white">Donate</button><button class="btn-my-style gray"><i
              class="fas fa-comment-alt"></i>Chat</button></div>
      </div>
    </div>
    <div class="player-profile-main-wrap col-md-6 col-md-pull-3">
      <div>
        <div class="row">
          <div class="center-item col-md-12"><span
              class="name-player-profile hidden-over-name">{{user.name}}</span><button class="btn-follow-player"><i
                class="fas fa-heart"></i>&nbsp;<span class="plus"><span>Theo dõi</span></span></button></div>
        </div>
        <div class="nav-player-profile row">
          <div class="col-md-3 col-xs-6">
            <div class="item-nav-name"><span>Số người theo dõi</span></div>
            <div class="item-nav-value">290 <span>người</span></div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="item-nav-name"><span>Đã được thuê</span></div>
            <div class="item-nav-value">3655&nbsp;<span>giờ</span></div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="item-nav-name"><span>Tỷ lệ hoàn thành</span></div>
            <div class="item-nav-value">90.11&nbsp;%</div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="item-nav-name"><span>Tình trạng thiết bị</span></div>
            <div class="item-nav-value"><i class="fas fa-camera"></i><i class="fas fa-microphone"></i></div>
          </div>
        </div>
        <hr>
        <div class="title-player-profile row">
          <div class="col-md-12"><span>Thông tin</span></div>
        </div>
        <div class="content-player-profile">
          <p>Ơi ! Sun đây <strong>Playerunknown's Battlegrounds,Csgo</strong></p>
          <div class="album-of-player">
            <div>
              <a href="static/images/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__26fd9800-921e-11eb-838d-05ed4475c295__player_album.jpg"
                style="display: block;">
                <img
                  src="static/images/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__26fd9800-921e-11eb-838d-05ed4475c295__player_album.jpg"
                  class=""
                  alt="https://playerduo.com/api/upload-service/thumbs/medium/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__26fd9800-921e-11eb-838d-05ed4475c295__player_album.jpg"></a>
              <a href="static/images/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__1a5da130-921e-11eb-a003-df7961345dfa__player_album.jpg"
                style="display: block;">
                <img
                  src="static/images/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__1a5da130-921e-11eb-a003-df7961345dfa__player_album.jpg"
                  class=""
                  alt="https://playerduo.com/api/upload-service/thumbs/medium/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__1a5da130-921e-11eb-a003-df7961345dfa__player_album.jpg"></a>
              <a href="static/images/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__08d3e230-921e-11eb-a003-df7961345dfa__player_album.jpg"
                style="display: block;">
                <img
                  src="static/images/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__08d3e230-921e-11eb-a003-df7961345dfa__player_album.jpg"
                  class=""
                  alt="https://playerduo.com/api/upload-service/thumbs/medium/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__08d3e230-921e-11eb-a003-df7961345dfa__player_album.jpg"></a>
              <a href="static/images/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__6de27740-8db4-11eb-838d-05ed4475c295__player_album.jpg"
                style="display: block;">
                <img
                  src="static/images/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__6de27740-8db4-11eb-838d-05ed4475c295__player_album.jpg"
                  class=""
                  alt="https://playerduo.com/api/upload-service/thumbs/medium/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__6de27740-8db4-11eb-838d-05ed4475c295__player_album.jpg"></a>
              <a href="static/images/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__f51c0b60-716a-11eb-88cb-65321f82f34f__player_album.jpg"
                style="display: block;">
                <img
                  src="static/images/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__f51c0b60-716a-11eb-88cb-65321f82f34f__player_album.jpg"
                  class=""
                  alt="https://playerduo.com/api/upload-service/thumbs/medium/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__f51c0b60-716a-11eb-88cb-65321f82f34f__player_album.jpg">
                <div class="fadeDiv"><span style="font-family: Arial;">+4</span></div>
              </a>
              <a href="static/images/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__e637d280-5ac4-11eb-976f-d35e0fba9dbe__player_album.jpg"
                style="display: none;">
                <img
                  src="static/images/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__e637d280-5ac4-11eb-976f-d35e0fba9dbe__player_album.jpg"
                  class=""
                  alt="https://playerduo.com/api/upload-service/thumbs/medium/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__e637d280-5ac4-11eb-976f-d35e0fba9dbe__player_album.jpg"></a><a
                href="https://playerduo.com/api/upload-service/images/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__836685b0-39ff-11eb-a34e-dd03c3a22289__player_album.jpg"
                style="display: none;"><img
                  src="static/images/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__836685b0-39ff-11eb-a34e-dd03c3a22289__player_album.jpg"
                  class=""
                  alt="https://playerduo.com/api/upload-service/thumbs/medium/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__836685b0-39ff-11eb-a34e-dd03c3a22289__player_album.jpg"></a><a
                href="https://playerduo.com/api/upload-service/images/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__62a6f3d0-de2b-11ea-b386-575fea6f28e2__player_album.jpg"
                style="display: none;"><img
                  src="static/images/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__62a6f3d0-de2b-11ea-b386-575fea6f28e2__player_album.jpg"
                  class=""
                  alt="https://playerduo.com/api/upload-service/thumbs/medium/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__62a6f3d0-de2b-11ea-b386-575fea6f28e2__player_album.jpg"></a><a
                href="https://playerduo.com/api/upload-service/images/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__c82992c0-b235-11ea-a8b0-e3273f1fb5f1__player_album.jpg"
                style="display: none;"><img
                  src="static/images/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__c82992c0-b235-11ea-a8b0-e3273f1fb5f1__player_album.jpg"
                  class=""
                  alt="https://playerduo.com/api/upload-service/thumbs/medium/8eaeaaf9-0b1b-4aec-abe5-f3438256fe8b__c82992c0-b235-11ea-a8b0-e3273f1fb5f1__player_album.jpg"></a>
              <div class="clearfix"></div>
            </div>
          </div>
          <p>❤️ Tên : Cẩm</p>
          <p>❤️ Sn : 20/04/1998</p>
          <p>❤️ Ingame : Sunkimochii</p>
          <p>❤️ Mic nhà k ồn </p>
          <p>❤️ COD mới chơi nên còn hơi ngáo </p>
          <p>❤️ Prop and seek trùm henter ❤️</p>
          <p>❤️ Pubg pc 4000h từng Gopro</p>
          <p>❤️ Csgo đủ carry team and team địch :D</p>
          <p>❤️ Call video ( nói ko với 18+) x2 giờ </p>
          <p>❤️ Nói nhiều vui tính hứa hẹn đem lại nhiều cảm giác cho các User chơi game ^^ </p>
          <p>❤️ Nếu như thuê mà k thấy mình trả lời thì Ib Fb : <a target="_blank"
              href="https://www.facebook.com/Leethiihoongcaam">https://www.facebook.com/Leethiihoongcaam</a> cho
            mình nha !</p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        <div class="title-player-profile row">
          <div class="col-md-12"><iframe title="youtube" width="100%" height="350px"
              src="./SunKimochii on PlayerDuo_files/hCXgnHCB8VM.html" frameborder="0" allow="encrypted-media"
              allowfullscreen=""></iframe></div>
        </div>
        <hr>
        <div class="title-player-profile row">
          <div class="col-md-12"><span>Đánh giá</span></div>
        </div>
        <div class="text-center review-duo-player row">
          <div class="col-md-12">
            <div class="full-size">
              <div class="review-image-small">
                <div class="avt avt-md"><img
                    src="./SunKimochii on PlayerDuo_files/dc5657bd-49d6-4175-b5e8-ec889538e928+1585641127853.jpeg"
                    class="avt-img" alt="PD"><img src="./SunKimochii on PlayerDuo_files/10.png"
                    class="vip-avatar undefined" alt="PD" style="height: 22px; width: 22px;"></div>
              </div>
              <div class="wrapper-content-rating">
                <div class="review-content">
                  <a target="_blank" href="https://playerduo.com/page5b99fd276ccbeb40c667cda8">
                    <p class="name-player-review hidden-over-name color-vip-10">slutte</p>
                  </a>
                  <p class="time-player-review"><span>14:07:36, 27/3/2020</span></p>
                </div>
                <div class="review-rating">
                  <div class="rateting-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                      class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>&nbsp;</div>
                  <span class="time-rent-review">(<span>Thuê</span>&nbsp;1h)</span>
                </div>
                <p class="content-player-review">aaaaaaaaaaaaa</p>
              </div>
            </div>
            <div class="full-size">
              <div class="review-image-small">
                <div class="avt avt-md"><img
                    src="./SunKimochii on PlayerDuo_files/f4bab751-299a-4efe-8966-ab8ee8e285d9+1583811716828.jpeg"
                    class="avt-img" alt="PD"><img src="./SunKimochii on PlayerDuo_files/5.png"
                    class="vip-avatar undefined" alt="PD" style="height: 22px; width: 22px;"></div>
              </div>
              <div class="wrapper-content-rating">
                <div class="review-content">
                  <a target="_blank" href="https://playerduo.com/codyyy">
                    <p class="name-player-review hidden-over-name color-vip-1">Choigamesngu</p>
                  </a>
                  <p class="time-player-review"><span>18:59:48, 18/3/2020</span></p>
                </div>
                <div class="review-rating">
                  <div class="rateting-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                      class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>&nbsp;</div>
                  <span class="time-rent-review">(<span>Thuê</span>&nbsp;4h)</span>
                </div>
                <p class="content-player-review">Đã đánh giá một cmn sao</p>
              </div>
            </div>
            <div class="full-size">
              <div class="review-image-small">
                <div class="avt avt-md"><img src="./SunKimochii on PlayerDuo_files/avatar18.png" class="avt-img"
                    alt="PD"><img src="./SunKimochii on PlayerDuo_files/2.png" class="vip-avatar undefined" alt="PD"
                    style="height: 22px; width: 22px;"></div>
              </div>
              <div class="wrapper-content-rating">
                <div class="review-content">
                  <a target="_blank" href="https://playerduo.com/page5e201da8a5f34832e0f78d22">
                    <p class="name-player-review hidden-over-name color-vip-1">Banhqui</p>
                  </a>
                  <p class="time-player-review"><span>22:24:21, 21/1/2020</span></p>
                </div>
                <div class="review-rating">
                  <div class="rateting-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                      class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>&nbsp;</div>
                  <span class="time-rent-review">(<span>Thuê</span>&nbsp;1h)</span>
                </div>
                <p class="content-player-review">:D</p>
              </div>
            </div>
            <div class="full-size">
              <div class="review-image-small">
                <div class="avt avt-md"><img
                    src="./SunKimochii on PlayerDuo_files/689a3be5-e5b7-4340-819c-1a26f4f6f71d+1581451949119.jpeg"
                    class="avt-img" alt="PD"></div>
              </div>
              <div class="wrapper-content-rating">
                <div class="review-content">
                  <a target="_blank" href="https://playerduo.com/page5e0e01be604cd5177fe408b8">
                    <p class="name-player-review hidden-over-name">Mini</p>
                  </a>
                  <p class="time-player-review"><span>18:00:42, 20/1/2020</span></p>
                </div>
                <div class="review-rating">
                  <div class="rateting-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                      class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>&nbsp;</div>
                  <span class="time-rent-review">(<span>Thuê</span>&nbsp;1h)</span>
                </div>
                <p class="content-player-review">cute</p>
              </div>
            </div>
            <div class="full-size">
              <div class="review-image-small">
                <div class="avt avt-md"><img
                    src="./SunKimochii on PlayerDuo_files/upload_20578b171209f55664f57ea797cd3fa0.jpg"
                    class="avt-img" alt="PD"><img src="./SunKimochii on PlayerDuo_files/3.png"
                    class="vip-avatar undefined" alt="PD" style="height: 22px; width: 22px;"></div>
              </div>
              <div class="wrapper-content-rating">
                <div class="review-content">
                  <a target="_blank" href="https://playerduo.com/buihungvn">
                    <p class="name-player-review hidden-over-name color-vip-1">Bùi Hùng</p>
                  </a>
                  <p class="time-player-review"><span>00:12:26, 19/1/2020</span></p>
                </div>
                <div class="review-rating">
                  <div class="rateting-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                      class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>&nbsp;</div>
                  <span class="time-rent-review">(<span>Thuê</span>&nbsp;1h)</span>
                </div>
                <p class="content-player-review">+1 sao cho độ ngoan hiền :))</p>
              </div>
            </div>
            <div class="full-size">
              <div class="review-image-small">
                <div class="avt avt-md"><img src="./SunKimochii on PlayerDuo_files/avatar16.png" class="avt-img"
                    alt="PD"><img src="./SunKimochii on PlayerDuo_files/3.png" class="vip-avatar undefined" alt="PD"
                    style="height: 22px; width: 22px;"></div>
              </div>
              <div class="wrapper-content-rating">
                <div class="review-content">
                  <a target="_blank" href="https://playerduo.com/page5de1d4f3b2ca41735fb93be1">
                    <p class="name-player-review hidden-over-name color-vip-1">Name</p>
                  </a>
                  <p class="time-player-review"><span>15:34:09, 3/1/2020</span></p>
                </div>
                <div class="review-rating">
                  <div class="rateting-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                      class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>&nbsp;</div>
                  <span class="time-rent-review">(<span>Thuê</span>&nbsp;1h)</span>
                </div>
                <p class="content-player-review">đã hoàn thành Duo.</p>
              </div>
            </div>
            <div class="full-size">
              <div class="review-image-small">
                <div class="avt avt-md"><img
                    src="./SunKimochii on PlayerDuo_files/12b25eb0-de6f-472e-944d-d8a96ced377e__a1562ad0-8f95-11eb-838d-05ed4475c295__page_avatar.jpg"
                    class="avt-img" alt="PD"><img src="./SunKimochii on PlayerDuo_files/3.png"
                    class="vip-avatar undefined" alt="PD" style="height: 22px; width: 22px;"></div>
              </div>
              <div class="wrapper-content-rating">
                <div class="review-content">
                  <a target="_blank" href="https://playerduo.com/lkwhaanz">
                    <p class="name-player-review hidden-over-name color-vip-1">VanPinkky</p>
                  </a>
                  <p class="time-player-review"><span>17:33:01, 1/1/2020</span></p>
                </div>
                <div class="review-rating">
                  <div class="rateting-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                      class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>&nbsp;</div>
                  <span class="time-rent-review">(<span>Thuê</span>&nbsp;1h)</span>
                </div>
                <p class="content-player-review">&lt;3</p>
              </div>
            </div>
            <div class="full-size">
              <div class="review-image-small">
                <div class="avt avt-md"><img src="./SunKimochii on PlayerDuo_files/1533620564-7410.jpg"
                    class="avt-img" alt="PD"><img src="./SunKimochii on PlayerDuo_files/3.png"
                    class="vip-avatar undefined" alt="PD" style="height: 22px; width: 22px;"></div>
              </div>
              <div class="wrapper-content-rating">
                <div class="review-content">
                  <a target="_blank" href="https://playerduo.com/page5b99fdef6ccbeb40c669be66">
                    <p class="name-player-review hidden-over-name color-vip-1">No10</p>
                  </a>
                  <p class="time-player-review"><span>13:29:27, 30/12/2019</span></p>
                </div>
                <div class="review-rating">
                  <div class="rateting-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                      class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>&nbsp;</div>
                  <span class="time-rent-review">(<span>Thuê</span>&nbsp;1h)</span>
                </div>
                <p class="content-player-review">tay to, dth</p>
              </div>
            </div>
            <div class="full-size">
              <div class="review-image-small">
                <div class="avt avt-md">
                  <img
                    src="./SunKimochii on PlayerDuo_files/41606b8b-e7fe-4c88-b875-8fe805a1533e__f09d6d90-80bf-11eb-b33d-fdadf423b3d4__page_avatar.jpg"
                    class="avt-img" alt="PD">
                  <img src="./SunKimochii on PlayerDuo_files/5.png" class="vip-avatar undefined" alt="PD"
                    style="height: 22px; width: 22px;">
                </div>
              </div>
              <div class="wrapper-content-rating">
                <div class="review-content">
                  <a target="_blank" href="https://playerduo.com/page5b99fd076ccbeb40c6678cde">
                    <p class="name-player-review hidden-over-name color-vip-1">Khanh</p>
                  </a>
                  <p class="time-player-review"><span>11:21:14, 30/12/2019</span></p>
                </div>
                <div class="review-rating">
                  <div class="rateting-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                      class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>&nbsp;</div>
                  <span class="time-rent-review">(<span>Thuê</span>&nbsp;2h)</span>
                </div>
                <p class="content-player-review">&lt;3 cute !!!!</p>
              </div>
            </div>
            <div class="full-size">
              <div class="review-image-small">
                <div class="avt avt-md"><img
                    src="./SunKimochii on PlayerDuo_files/upload_7578c74b46e88e48c4e8fe5f4dd0b524.png"
                    class="avt-img" alt="PD"><img src="./SunKimochii on PlayerDuo_files/8.png"
                    class="vip-avatar undefined" alt="PD" style="height: 22px; width: 22px;"></div>
              </div>
              <div class="wrapper-content-rating">
                <div class="review-content">
                  <a target="_blank" href="https://playerduo.com/page5b99fe256ccbeb40c66a5602">
                    <p class="name-player-review hidden-over-name color-vip-6">Pin</p>
                  </a>
                  <p class="time-player-review"><span>07:02:25, 27/12/2019</span></p>
                </div>
                <div class="review-rating">
                  <div class="rateting-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                      class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>&nbsp;</div>
                  <span class="time-rent-review">(<span>Thuê</span>&nbsp;1h)</span>
                </div>
                <p class="content-player-review">.</p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="page_account">
              <p class="">5</p>
              <p class="">6</p>
              <p class="active">7</p>
              <p class="">8</p>
              <p class="">9</p>
              <p class="active" style="cursor: auto;">7/22</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
