<body
  class="fixed-header"
  style="background-color: rgb(233, 235, 238) !important; margin-top: 75px"
>
  <div class="wrapper">
    <div class="container">
      <div class="row login-page">
        <div class="col-md-7 hidden-sm hidden-xs image-login">
          <img
            src="assets/frontend/favicons/banner_login.jpg"
            class=""
            alt="PD"
          />
        </div>
        <div class="col-md-5 col-xs-12 form-content">
          <div class="content-main">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
              <div class="fieldGroup">
                <input

                  type="text"
                  formControlName="name"
                  placeholder="Nhập tên"
                  autocomplete="false"
                  value=""
                />
                <div
                  *ngIf="
                    getControl.name.invalid &&
                    (getControl.name.dirty || getControl.name.touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="getControl.name.errors?.required">
                    Tên không được để trống!
                  </div>
                  <div *ngIf="getControl.name.errors?.pattern">
                    Tên phải theo alphabet!
                  </div>
                  <div *ngIf="getControl.name.errors?.maxlength">
                    Tên giới hạn 30 ký tự!
                  </div>
                </div>
              </div>
              <div class="fieldGroup">
                <input

                  type="email"
                  formControlName="email"
                  placeholder="Nhập Email"
                  autocomplete="false"
                  value=""
                />
                <div
                  *ngIf="
                    getControl.email.invalid &&
                    (getControl.email.dirty || getControl.email.touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="getControl.email.errors?.required">
                    Email không được để trống!
                  </div>
                  <div *ngIf="getControl.email.errors?.email">
                    Email phải đúng định dạng!
                  </div>

                </div>
              </div>
              <div class="fieldGroup">
                <input

                  type="password"
                  formControlName="password"
                  placeholder="Mật khẩu"
                  autocomplete="false"
                  value=""
                />
                <div
                  *ngIf="
                    getControl.password.invalid &&
                    (getControl.password.dirty || getControl.password.touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="getControl.password.errors?.required">
                    Mật khẩu không được để trống!
                  </div>
                  <div *ngIf="getControl.password.errors?.pattern">
                    Mật khẩu theo alphabet và số!
                  </div>
                  <div *ngIf="getControl.password.errors?.maxlength">
                    Mật khẩu giới hạn 16 ký tự!
                  </div>
                </div>
              </div>
              <div class="fieldGroup">
                <input
                  [class.is-invalid]="
                    userForm.get('password_confirmation')?.invalid &&
                    (userForm.get('password_confirmation')?.dirty ||
                      userForm.get('password_confirmation')?.touched)
                  "
                  type="password"
                  formControlName="password_confirmation"
                  placeholder="Nhập lại mật khẩu"
                  autocomplete="false"
                  value=""
                />
                <div *ngIf="userForm.hasError('notSame')" class="text-danger">
                  Vui lòng điền đúng với mật khẩu phía trên!
                </div>

              </div>

              <button type="submit"><span>Tạo tài khoản</span></button>
            </form>
            <a [routerLink]="['/frontend/login']">
              <button style="background-color: gray">
                <span>Đăng nhập</span>
              </button>
            </a>
            <p class="forgot_password">
              <a href="login.html"><span>Quên mật khẩu?</span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
