<header class="menu__header fix-menu" id="header-menu">
  <div class="navbar-header">
     <a class="logo" href="/">
        <img src="https://files.playerduo.com/production/static-files/logo.png">
        <div class="text-logo">
           <h4>PLAYERDUO</h4>
           <p>GAME COMMUNITY</p>
        </div>
     </a>
  </div>
  <div class="navbar">
     <ul class="nav navbar-nav navbar-left">
        <li class="item false"><a href="/"><span>Tường</span></a></li>
        <li class="item active"><a href="/players"><span>Thuê người chơi</span></a></li>
        <li class="item false"><a href="/connect"><span>Kết nối</span></a></li>
        <li class="item"><a><span>Bxh</span></a></li>
        <li class="item-search">
           <nav class="Navbar__Item">
              <div class="Navbar__Link">
                 <div class="Group-search visible ">
                    <span class="search input-group">
                       <input disabled="" placeholder="Nickname/Url ..." type="text" class="form-control"
                          value="">
                       <span class="input-group-addon">
                          <button disabled="" type="button" class="btn btn-default"><i class="fa fa-search"
                                aria-hidden="true"></i></button>
                       </span>
                    </span>
                 </div>
              </div>
           </nav>
        </li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
        <li class="item-icon mobile-search">
           <a class="dropdown-toggle">
              <div class="item-title"><i class="fas fa-bars"></i></div>
           </a>
        </li>
        <li class="item-icon authent"><a class="money-user" routerLink="login"><span>Đăng nhập</span></a></li>
     </ul>
  </div>
</header>
