.setting__main {
	min-height: 140vh;
	display: flex;
	flex-wrap: wrap
}

.setting__main.row {
	margin-left: 0;
	margin-right: 0
}

@media(max-width:767px) {
	.setting__main {
		min-height: 0
	}
}

.setting__main .setting__main--menu {
	background-color: #fafafa
}

.setting__main .setting__main--menu .panel-default {
	border-bottom: 0
}

.setting__main .setting__main--menu .panel-default .panel-heading {
	background-color: #fafafa
}

.setting__main .setting__main--menu .panel-default .panel-body {
	color: red;
	background-color: #fafafa;
	border-top: 0;
	box-shadow: none
}

.aside {
	padding: 30px
}

@media(max-width:767px) {
	.aside {
		padding: 10px
	}
}

.aside .control-label,
.aside label,
.aside p {
	text-transform: uppercase;
	font-family: Poppins;
	font-size: 11px;
	margin-bottom: 10px;
	color: #90959c
}

.aside .loading {
	display: inline-block
}

.aside h3 {
	margin-bottom: 30px;
	font-size: 24px;
	font-family: Poppins;
	color: #354052
}

.aside .react-datepicker__month-dropdown-container--select select,
.aside .react-datepicker__year-dropdown-container--select select {
	height: auto;
	margin: 10px 0
}

.aside .example-custom-input {
	background-color: #fff
}

.aside .example-custom-input:focus,
.aside button:focus,
.aside select:focus {
	outline: none
}

.cropimg-avatar .uploadAvatar
{
  width: 40%;
  height: 30%;
  padding: 0;
  font-size: 16px;
}

.aside .example-custom-input,
.aside input,
.aside select {
	height: 54px;
	text-align: left;
	font-size: 16px;
	color: #354052;
	border: 1px solid #e6eaee;
	border-radius: 5px;
	padding: 0 17px;
	width: 100%;
	font-family: Poppins
}

.aside .editor-avatar-section .box input {
	width: auto
}

.aside .btn-delemail,
.aside .btn-getcode,
.aside .btn-link,
.aside .btn-link-topdonate,
.aside .btn-open,
.aside .btn-select,
.aside .btn-update {
	height: 54px;
	color: #fff;
	border: 0;
	font-family: Poppins;
	border-radius: 5px;
	line-height: 49px;
	font-size: 19px;
	background-color: #f0564a;
	margin: 22px 0;
	width: 100%
}

.aside .btn-delemail:hover,
.aside .btn-getcode:hover,
.aside .btn-link-topdonate:hover,
.aside .btn-link:hover,
.aside .btn-open:hover,
.aside .btn-select:hover,
.aside .btn-update:hover {
	background-color: #a50000
}

.aside .btn-delemail:disabled,
.aside .btn-getcode:disabled,
.aside .btn-link-topdonate:disabled,
.aside .btn-link:disabled,
.aside .btn-open:disabled,
.aside .btn-select:disabled,
.aside .btn-update:disabled {
	background-color: #ccc
}

.aside select {
	margin-bottom: 22px
}

.aside .err-message {
	color: #f0564a;
	float: none
}

.aside .page_account p {
	font-family: Poppins;
	color: #f0564a
}

.aside .page_account .active {
	color: #fff
}

.aside .form-link {
	display: flex;
	border: 1px solid #e6eaee;
	border-radius: 5px;
	margin-bottom: 22px;
	position: relative
}

.aside .form-link .control-label {
	display: flex;
	align-items: center;
	padding: 0 10px;
	text-transform: inherit;
	font-family: Poppins;
	font-size: 16px;
	line-height: 48px;
	font-weight: 100;
	border-right: 1px solid #e6eaee;
	margin: 0;
	background-color: #fafafa;
	width: 190px;
	color: #354052
}

.aside .form-link input {
	border: 0;
	margin: 0
}

.aside .form-link .err-message {
	position: absolute;
	margin-top: 58px
}

.aside .mt-3 {
	margin-top: 3%
}

.aside .d-flex {
	display: flex
}

.aside .mb-3 {
	margin-bottom: 30px
}

.aside .mb-15 {
	margin-bottom: 15px
}

.aside .pd-0 {
	padding: 0
}

.aside .mr-4 {
	margin-top: 5px;
	margin-right: 4%;
	margin-bottom: 20px
}

.aside .hr {
	border: 1px solid #e6eaee;
	clear: both;
	margin: 30px 0
}

.playerinfo-form textarea {
	padding: 16px 17px;
	display: block;
	width: 50%;
	height: 120px;
	border-radius: 5px;
	font-size: 14px;
	border: 1px solid #e6eaee
}

@media(min-width:768px) and (max-width:991px) {
	.playerinfo-form textarea {
		width: 100%
	}
}

@media(max-width:767px) {
	.playerinfo-form textarea {
		width: 100%
	}
}

.modal-transfer .modal-body table {
	width: 100%
}

.modal-transfer .modal-body table tr td {
	font-family: Poppins;
	padding: 10px;
	font-weight: 600;
	color: #354052;
	font-size: 14px
}

.modal-transfer .modal-body table tr td.slider {
	padding-right: 40px
}

.modal-transfer .modal-body table tr td .noUi-tooltip {
	width: 80px;
	color: #354052
}

.modal-transfer .modal-body table tr td .noUi-tooltip:before {
	right: 30px
}

.modal-transfer .modal-body table tr td .noUi-tooltip:after {
	right: 26px
}

.modal-transfer .modal-body table tr td textarea {
	padding: 10px;
	height: 120px;
	width: 100%;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	outline-style: none
}

.table-bordered {
	border: 0
}

.table-bordered thead tr th {
	border-left: 0;
	border-right: 0;
	line-height: 40px;
	color: #354052;
	text-transform: uppercase;
	font-family: SegoeUI-Bold;
	font-size: 12px
}

.table-bordered tbody tr td {
	border: 0;
	color: #354052;
	font-size: 15px;
	max-width: 95px
}

.table-bordered tbody tr td input {
	height: auto;
	padding: 10px
}

.table-bordered tbody tr td .image__vip {
	width: 51px;
	height: auto
}

.table-bordered tbody tr td .avatar {
	display: flex;
	align-items: center
}

.table-bordered tbody .message-donate {
	overflow: auto;
	max-width: 140px
}

.table-bordered tbody .btn-action-table {
	width: 90px
}

.table-bordered tbody .btn-action-table p {
	width: 36px;
	text-align: center;
	margin-bottom: 0;
	font-size: 17px;
	float: left
}

.table-bordered tbody .btn-action-table p:last-child {
	float: right
}

.table-bordered .avt-xs {
	margin-right: 10px
}

.table-bordered .fa,
.table-bordered .fas {
	cursor: pointer
}

.table-bordered .table-array table {
	background: 0 0
}

.table-bordered .table-array th {
	padding: 8px
}

@media screen and (max-width:768px) {
	.table-responsive {
		border: 0
	}
	.table-responsive .btn-action-table p {
		padding: 5px 0
	}
}

.customer--game--header {
	align-items: center
}

.playerinfo-form .join-condition {
	min-height: 35px
}

.playerinfo-form .join-condition .name-player {
	width: 47%!important;
	float: left
}

.playerinfo-form .join-condition .fa-arrow-right {
	width: 6%;
	float: left;
	text-align: center;
	padding-top: 10px
}

.playerinfo-form .background-room {
	display: inline-block
}

.playerinfo-form .background-room .item-background-room {
	float: left;
	width: 32%;
	margin-right: 1.3%;
	margin-bottom: 7px;
	-webkit-filter: opacity(40%);
	filter: opacity(40%)
}

.playerinfo-form .background-room .item-background-room.active,
.playerinfo-form .background-room .item-background-room:hover {
	-webkit-filter: opacity(100%);
	filter: opacity(100%);
	cursor: pointer
}

.playerinfo-form .background-room .item-background-room img {
	border-radius: 10px;
	width: 100%;
	height: 75px
}

.slide {
	margin-top: 24px;
	width: 100%;
	height: 340px;
	border-radius: 8px;
	transition: height .5s
}

.slide.banner {
	height: 300px;
	margin: 0
}

.slide.banner .carousel {
	margin-top: 0
}

.slide.banner .carousel-inner {
	border-radius: 15px;
	box-shadow: 0 2px 6px 0 #e6eaee
}

.slide.banner .carousel-inner .item a img,
.slide.banner .carousel-inner .item img {
	height: 300px;
	width: 100%
}

.slide.extend-box {
	height: 510px;
	transition: height .5s
}

.slide.extend-box .global-chat-display {
	height: 439px;
	transition: height .5s
}

@media only screen and (max-width:680px) {
	.slide {
		margin-top: 24px
	}
	.slide,
	.slide .carousel-inner .item a img,
	.slide .carousel-inner .item img {
		width: 100%;
		height: auto
	}
}

.cursor-pointer {
	cursor: pointer
}

.global_message__item {
	margin-top: 0;
	padding-top: 5px
}

.global_message__item .fa-ban {
	color: #000;
	cursor: pointer
}

.global_message__item .media-body,
.global_message__item .media-left,
.global_message__item .media-right {
	vertical-align: middle
}

.global_message__item .media-left .avt-img {
	height: auto!important
}

.global_message__item .media-body .chat-name {
	float: left
}

.global_message__item .media-body .chat-name.link {
	color: #2e89ff;
	margin-right: 5px
}

.global_message__item .media-body .fa-bitcoin {
	color: orange
}

.global_message__item .media-body p {
	margin-bottom: 0;
	margin-right: 5px;
	white-space: normal;
	word-break: break-word;
	font-size: 13.5px
}

.global_message__item .media-body p strong {
	display: inline;
	color: #354052
}

.global_message__item .media-body p strong.color-vip-0 {
	color: #354052
}

.global_message__item .media-body p strong.color-vip-1 {
	color: #007895
}

.global_message__item .media-body p strong.color-vip-6 {
	color: #aa0e16
}

.global_message__item .media-body p strong.color-vip-10 {
	color: #be38de
}

.global_message__item .media-body p strong.color-vip-14 {
	color: #ffc107
}

.global_message__item .media-right {
	text-align: right;
	color: #999;
	padding-right: 5px;
	white-space: nowrap
}

.global_message__item .media-right span {
	font-size: 12px
}

.global_message__item .rank-vip {
	left: 0
}

.global_message__item .admin .name-player-review {
	background: linear-gradient(90deg, #007895 0, #be38de 30%, #fd1d1d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent
}

.global_message__item .admin .mess-global {
	font-weight: 700
}

@media screen and (max-width:425px) {
	.global_message__item .media-left,
	.global_message__item .media-right {
		vertical-align: top;
		letter-spacing: normal
	}
	.global_message__item .media-left .avt-sm {
		top: 0;
		width: 38px;
		height: 38px
	}
	.global_message__item .media-body p {
		font-size: 12px
	}
	.global_message__item .chat-name .visible-xs {
		display: inline!important;
		margin-right: 5px;
		color: grey;
		letter-spacing: 0
	}
}

.global-chat-display {
	height: 269px;
	overflow: auto;
	position: relative;
	margin-bottom: 10px;
	transition: height .3s
}

@media screen and (min-width:992px) {
	.global-chat-display::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
		border-radius: 10px;
		background-color: #f7f7f7
	}
	.global-chat-display::-webkit-scrollbar {
		width: 6px;
		background-color: #f1f1f1
	}
	.global-chat-display::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
		background-color: #dcdcdc
	}
}

.modal-donate .modal-body table {
	width: 100%
}

.modal-donate .modal-body table tr .text-warning {
	font-size: 13px;
	font-style: italic
}

.modal-donate .modal-body table tr td {
	font-family: Poppins;
	padding: 10px;
	font-weight: 600;
	color: #354052;
	font-size: 14px
}

.modal-donate .modal-body table tr td .total-amount {
	color: #f0564a
}

.modal-donate .modal-body table tr td .load-more-credit {
	font-weight: 700;
	margin-left: 10px;
	cursor: pointer;
	background-color: #f0564a;
	color: #fff;
	border-radius: 50%;
	padding: 2px 6px;
	text-align: center
}

.modal-donate .modal-body table tr td textarea {
	height: 100px
}

.modal-donate .modal-footer .note-modal {
	float: left;
	font-size: 13px;
	margin: 8px 0 0;
	font-weight: 600
}

.modal-donate .modal-footer .note-modal .fa-bitcoin {
	color: #ffa600
}

#popover-emoij-top {
	max-width: 313px
}

#popover-emoij-top .popover-content {
	padding: 0!important
}

.volume__voice {
	position: relative
}

.volume__voice--control {
	position: absolute;
	text-align: center;
	bottom: 29px;
	left: 63px
}

.volume__voice--control .css-1hadf1l-Slider {
	height: 70px!important
}

@media only screen and (max-width:768px) and (max-width:600px) {
	.volume__voice--control {
		left: 12px
	}
}

.audio-input-output {
	width: 100%;
	margin-bottom: 15px
}

.audio-input-output .voice--volume {
	width: 100%;
	box-sizing: border-box
}

.audio-input-output span {
	color: #90959c
}

.audio-input-output .selectpicker {
	width: 100%;
	padding: 5px
}

.audio-input-output:last-child {
	margin-bottom: 20px
}

#popover-positioned-top .btn-micro {
	cursor: pointer;
	display: flex;
	align-items: center
}

#popover-positioned-top .btn-micro .label {
	font-size: 100%;
	padding: .4em .6em .2em
}

#popover-positioned-top .btn-micro .fas {
	padding-right: 10px;
	font-size: 20px;
	color: rgba(0, 0, 0, .4)
}

.global-chat {
	background-color: #fff;
	padding: 10px;
	border: 1px solid #ececec;
	border-radius: 5px
}

.global-chat .has-feedback {
	margin-bottom: 0
}

.global-chat textarea {
	resize: none;
	padding-right: 12px!important
}

.global-chat .form-group {
	position: relative
}

.global-chat .form-group .extend-chat {
	cursor: pointer;
	position: absolute;
	right: 7px;
	top: 5px;
	margin: 0;
	padding: 3px 5px;
	background: #dcdcdc;
	border-radius: 5px
}

.global-chat .connect-room-loading {
	grid-template-columns: 1fr 85px!important
}

.global-chat .connect-room {
	transition: width 1s;
	-moz-transition: width 1s;
	-webkit-transition: width 1s;
	-o-transition: width 1s;
	display: grid;
	grid-template-columns: 1fr 245px
}

.global-chat .connect-room .form-control {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	padding-right: 48px
}

.global-chat .connect-room .input-group-addon {
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	cursor: pointer
}

.global-chat .connect-room .input-group-addon .fa-grin {
	font-size: 2.5rem;
	color: rgba(0, 0, 0, .4)
}

.global-chat .connect-room .input-group-addon .fa-grin:hover {
	color: #b1a36f
}

.global-chat .connect-room .connect-loading {
	grid-template-columns: 55px 30px!important
}

.global-chat .connect-room .connect-chat {
	display: grid;
	grid-template-columns: 55px 105px 55px 30px;
	text-align: right;
	cursor: pointer;
	color: rgba(0, 0, 0, .4)
}

.global-chat .connect-room .connect-chat .btn-micro .label {
	font-size: 100%
}

.global-chat .connect-room .connect-chat p {
	margin: 0;
	padding-top: 10px;
	font-weight: 600
}

.global-chat .connect-room .connect-chat p .fab,
.global-chat .connect-room .connect-chat p .fas {
	font-size: 18px
}

.global-chat .connect-room .connect-chat p:hover {
	color: #000
}

.global-chat .connect-room .connect-chat .btn-tip {
	color: rgba(255, 166, 0, .8)
}

.global-chat .connect-room .connect-chat .btn-tip:hover {
	color: #ffa600
}

.global-chat .connect-room .connect-chat .btn-directing:hover {
	color: #ad2307
}

.global-chat .connect-room .connect-chat .btn-image {
	position: absolute;
	right: 268px;
	width: 27px;
	margin: 0;
	padding-top: 4px;
	font-size: 23px;
	text-align: left
}

.sweet-alert .message {
	font-size: 20px;
	font-weight: 700;
	color: #354052;
	text-shadow: none
}

.sweet-alert button {
	font-weight: 700;
	font-size: 15px
}

.sweet-alert button.btn-default {
	border: 1px solid #d6d6d6!important;
	background-color: #fff!important;
	color: #444
}

.sweet-alert button.btn-danger {
	opacity: 1;
	border: 1px solid #f0564a!important;
	background-color: #f0564a!important;
	color: #fff
}

.sweet-alert .ball-scale-ripple>div {
	height: 20px;
	width: 20px
}

.slot-action .room--setting .fas {
	font-size: 22px
}

.tooltip-btn {
	text-transform: capitalize
}

.action-room-modal .btn-fill {
	height: 25px;
	padding: 3px 13px;
	font-size: 13px
}

.action-room-modal .mr-2 {
	margin-right: 8px
}

.action-room-modal .modal-footer .btn-danger {
	text-transform: capitalize
}

.customer--game--header {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

.btn-create-game {
	background-color: var(--main-color);
	color: #fff;
	margin-left: 5px;
	opacity: 1;
	font-weight: 600;
	font-family: Source Sans Pro;
	border-color: #dcdcdc;
	padding: 8px 10px;
	height: 38px
}

.group-left-wrap .group-search {
	margin-bottom: 19px
}

.group-left-wrap .group-search .input-group .form-control {
	height: 34px
}

#meet {
	display: none
}

.form--modal .name-player {
	width: 100%!important
}

.form--modal .err-message {
	float: none
}

.connect__view {
	display: grid;
	grid-template-columns: 1fr 3.1fr 1.05fr;
	background-color: #fff
}

.connect__view .btn-drawer {
	display: none
}

@media(max-width:991px) {
	.connect__view {
		grid-template-columns: 1fr
	}
	.connect__view .btn-drawer {
		display: block
	}
	.connect__view .btn-drawer .btn-drawer-left,
	.connect__view .btn-drawer .btn-drawer-right {
		position: fixed;
		top: 40%;
		background: #f0564a;
		border-radius: 50%;
		z-index: 99999;
		color: #fff
	}
	.connect__view .btn-drawer .btn-drawer-left {
		left: -20px;
		padding: 17px 8px 17px 24px
	}
	.connect__view .btn-drawer .btn-drawer-right {
		right: -20px;
		padding: 17px 24px 17px 8px
	}
}

.connect__view--left,
.connect__view--middle,
.connect__view--right {
	overflow: auto;
	height: calc(100vh - 74px)
}

html.ie8 .connect__view--left::-webkit-scrollbar-track,
html.ie8 .connect__view--middle::-webkit-scrollbar-track,
html.ie8 .connect__view--right::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
	border-radius: 10px;
	background-color: #f7f7f7
}

html.ie8 .connect__view--left::-webkit-scrollbar,
html.ie8 .connect__view--middle::-webkit-scrollbar,
html.ie8 .connect__view--right::-webkit-scrollbar {
	width: 6px;
	background-color: #f1f1f1
}

html.ie8 .connect__view--left::-webkit-scrollbar-thumb,
html.ie8 .connect__view--middle::-webkit-scrollbar-thumb,
html.ie8 .connect__view--right::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
	background-color: #dcdcdc
}

@media(min-width:992px) {
	.connect__view--left::-webkit-scrollbar-track,
	.connect__view--middle::-webkit-scrollbar-track,
	.connect__view--right::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
		border-radius: 10px;
		background-color: #f7f7f7
	}
	.connect__view--left::-webkit-scrollbar,
	.connect__view--middle::-webkit-scrollbar,
	.connect__view--right::-webkit-scrollbar {
		width: 6px;
		background-color: #f1f1f1
	}
	.connect__view--left::-webkit-scrollbar-thumb,
	.connect__view--middle::-webkit-scrollbar-thumb,
	.connect__view--right::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
		background-color: #dcdcdc
	}
}

@media(max-width:991px) {
	.connect__view--left,
	.connect__view--right {
		position: fixed;
		z-index: 97;
		background: #fff;
		top: 101px;
		overflow-x: hidden;
		transition: .5s;
		text-align: center;
		width: 100%;
		padding-bottom: 15px
	}
}

@media(max-width:991px) {
	.connect__view--left {
		left: -100%
	}
	.connect__view--left.show-mobile {
		left: 0
	}
}

.connect__view--left .panel {
	border-bottom: none
}

.connect__view--left .panel .panel-collapse {
	margin-top: 10px;
	border-bottom: 1px solid #e6eaee
}

.connect__view--left .panel .room-panel-body {
	padding: 0;
	box-shadow: none!important;
	border: none
}

.connect__view--left .panel .room-panel-body.category {
	margin-top: 10px;
	border-top: 1px solid #e6eaee;
	border-bottom: 1px solid #e6eaee
}

.connect__view--left .panel .room-panel-body .see-more {
	text-align: center;
	font-size: 11px;
	padding: 10px 0 5px;
	margin: 0;
	font-weight: 600
}

.connect__view--left .panel .room-panel-body .see-more:hover {
	cursor: pointer;
	background-color: #f5f5f5
}

.connect__view--left .panel .room-panel-body .item-tab-data {
	padding: 7px 5px 7px 12px;
	margin: 0
}

.connect__view--left .panel .room-panel-body .item-tab-data.active,
.connect__view--left .panel .room-panel-body .item-tab-data:hover {
	background-color: #f5f5f5;
	cursor: pointer
}

.connect__view--left .panel .room-panel-body .item-tab-data .avt-img {
	width: 38px;
	border-radius: 50%
}

.connect__view--left .panel .room-panel-body .item-tab-data .media-body p {
	font-size: 13px;
	margin-bottom: 0;
	font-weight: 600
}

.connect__view--left .panel .room-panel-body .item-tab-data .media-right {
	font-family: Poppins;
	font-size: 10px;
	color: #90959c
}

.connect__view--left .panel .room-panel-body .item-tab-data.active .media-right {
	color: green
}

.connect__view--left .panel .room-panel-body .item-tab-data.your-room i {
	padding: 6px 7px;
	border: 1px solid grey;
	border-radius: 15px
}

.connect__view--left .panel .room-panel-body .item-tab-data.your-room i:hover {
	background: #dcdcdc
}

.connect__view--left .panel .room-panel-body .item-tab-data.your-room .fa-pen {
	display: none;
	padding: 6px
}

.connect__view--left .panel .room-panel-body .item-tab-data.your-room:hover .fa-pen {
	display: block
}

.connect__view--left .panel .room-panel-body .item-tab-data.your-room:hover .count-people {
	display: none
}

.connect__view--left .box-class a {
	padding: 10px 5px 0 6px;
	text-align: left
}

.connect__view--left .box-class a .room-class {
	display: grid;
	grid-template-columns: 42px 1fr
}

.connect__view--left .box-class a .room-class.category {
	grid-template-columns: 16px 42px 1fr
}

.connect__view--left .box-class a .room-class.category .fa {
	font-size: 1.2em;
	padding: 11px 0
}

.connect__view--left .box-class a .room-class:hover {
	background-color: #f5f5f5;
	border-radius: 8px
}

.connect__view--left .box-class a img {
	width: 42px;
	border-radius: 8px
}

.connect__view--left .box-class a .title-class {
	padding-left: 7px;
	padding-top: 3px
}

.connect__view--left .box-class a .title-class p {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
	font-weight: 600;
	font-size: 14px
}

.connect__view--left .box-class a .title-class p:last-child {
	font-size: 11px
}

.connect__view--left .btn-join-room {
	position: fixed;
	bottom: 15px;
	left: calc(9.7% - 64px);
	font-family: Poppins;
	border-radius: 20px;
	font-size: 12px;
	padding: 6px 12px
}

.connect__view--middle {
	border-left: 1px solid #e6eaee;
	border-right: 1px solid #e6eaee;
	width: 100%
}

.connect__view--middle.box-room {
	padding: 0 10px
}

.connect__view--middle .connect-banner {
	padding: 10px 15px 0
}

@media(min-width:768px) and (max-width:991px) {
	.connect__view--middle .connect-banner .slide.banner,
	.connect__view--middle .connect-banner .slide.banner .carousel-inner .item a img,
	.connect__view--middle .connect-banner .slide.banner .slide.carousel {
		height: 250px
	}
}

@media(max-width:767px) {
	.connect__view--middle .connect-banner {
		padding: 10px 5px 0
	}
	.connect__view--middle .connect-banner .slide.banner,
	.connect__view--middle .connect-banner .slide.banner .carousel-inner .item a img,
	.connect__view--middle .connect-banner .slide.banner .slide.carousel {
		height: 180px
	}
}

.connect__view--middle .list-room {
	width: 100%;
	text-align: center;
	margin: 30px 0 20px
}

.connect__view--middle .list-room [class*=col-] {
	margin-bottom: 30px
}

.connect__view--middle .list-room [class*=col-]:hover {
	cursor: pointer;
	-webkit-filter: contrast(180%);
	filter: contrast(180%)
}

.connect__view--middle .list-room [class*=col-] img {
	width: 95px;
	height: 95px;
	border-radius: 50%;
	box-shadow: 2px 2px 4px 2px #afa9a9
}

@media(max-width:991px) {
	.connect__view--middle .list-room [class*=col-] img {
		width: 75px;
		height: 75px
	}
}

.connect__view--middle .list-room [class*=col-] .title-class {
	margin-top: 10px
}

.connect__view--middle .list-room [class*=col-] .title-class p {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
	font-weight: 700;
	font-size: 15px
}

.connect__view--middle .list-room [class*=col-] .title-class p:last-child {
	font-size: 12px;
	font-weight: 600
}

@media(max-width:991px) {
	.connect__view--middle .list-room [class*=col-] .title-class p {
		font-size: 14px
	}
	.connect__view--middle .list-room [class*=col-] .title-class p:last-child {
		font-size: 12px
	}
}

.connect__view--middle .box-room-slot {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000;
	height: 290px;
	margin: 10px 0;
	padding: 10px 0;
	border-radius: 10px;
	box-shadow: 0 2px 6px 0 #e6eaee;
	display: grid;
	grid-template-columns: 240px 1fr 75px;
	color: #fff;
	position: relative
}

.connect__view--middle .box-room-slot.loading {
	background-color: #dcdcdc
}

.connect__view--middle .box-room-slot .slot-main {
	text-align: center;
	padding: 0 10px
}

.connect__view--middle .box-room-slot .slot-main .fa-eye-slash {
	position: absolute;
	left: 6px;
	top: 6px;
	font-size: 19px
}

@media(max-width:991px) {
	.connect__view--middle .box-room-slot .slot-main .fa-eye-slash {
		top: 35px;
		left: 12px
	}
}

.connect__view--middle .box-room-slot .slot-main .slot-main-top {
	margin-bottom: 10px;
	overflow: hidden;
	min-height: 160px
}

.connect__view--middle .box-room-slot .slot-main .slot-main-top .pulse {
	border-radius: 50%;
	box-shadow: 0 0 0 rgba(243, 8, 8, .7);
	animation: pulse .5s infinite
}

.connect__view--middle .box-room-slot .slot-main .slot-main-top .avt-img {
	cursor: pointer;
	width: 100px;
	min-height: 60px;
	margin: 5px 0
}

.connect__view--middle .box-room-slot .slot-main .slot-main-top h4 {
	margin: 4px 0 0;
	font-size: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.connect__view--middle .box-room-slot .slot-main .slot-main-top p {
	font-size: 11px;
	color: #a5a5a5;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.connect__view--middle .box-room-slot .slot-main .slot-main-bottom {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr
}

.connect__view--middle .box-room-slot .slot-main .slot-main-bottom .slot-item {
	overflow: hidden;
	cursor: pointer;
	padding-top: 5px
}

.connect__view--middle .box-room-slot .slot-main .slot-main-bottom .slot-item .pulse {
	border-radius: 50%;
	box-shadow: 0 0 0 rgba(224, 0, 0, .7);
	animation: pulse 1s infinite
}

.connect__view--middle .box-room-slot .slot-main .slot-main-bottom .slot-item .slot__avatar {
	position: relative
}

.connect__view--middle .box-room-slot .slot-main .slot-main-bottom .slot-item .slot__avatar .avatar--icon {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding-top: 17px;
	margin: auto;
	height: 100%;
	width: 55px;
	border-radius: 50%;
	background: hsla(0, 0%, 50.2%, .5)
}

.connect__view--middle .box-room-slot .slot-main .slot-main-bottom .slot-item .slot__avatar .avatar--icon i {
	font-size: 22px
}

.connect__view--middle .box-room-slot .slot-main .slot-main-bottom .slot-item .avt-slot-img {
	width: 55px
}

.connect__view--middle .box-room-slot .slot-main .slot-main-bottom .slot-item p {
	margin: 5px 0 0;
	font-size: 11px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.connect__view--middle .box-room-slot .slot-main .slot-main-bottom .slot-item h5 {
	background-color: grey;
	width: 55px;
	height: 55px;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px solid #fff;
	padding: 17px 0
}

.connect__view--middle .box-room-slot .slot-action {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center
}

@media(max-width:991px) {
	.connect__view--middle .box-room-slot .slot-action {
		flex-direction: row-reverse;
		padding: 5px
	}
	.connect__view--middle .box-room-slot .slot-action .setting-btns {
		display: contents
	}
}

.connect__view--middle .box-room-slot .slot-action .room--setting .fas {
	cursor: pointer
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-top {
	overflow: auto;
	height: 125px;
	background-color: rgba(90, 90, 90, .4);
	border-radius: 8px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-top .slot-item {
	text-align: center;
	padding: 10px 5px 0;
	overflow: hidden;
	cursor: pointer
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-top .slot-item .pulse {
	border-radius: 50%;
	box-shadow: 0 0 0 rgba(224, 0, 0, .7);
	animation: pulse 2s infinite
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-top .slot-item .slot__avatar {
	position: relative;
	min-height: 65px
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-top .slot-item .slot__avatar .avatar--icon {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding-top: 20px;
	margin: auto;
	height: 100%;
	width: 65px;
	border-radius: 50%;
	background: hsla(0, 0%, 50.2%, .5)
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-top .slot-item .slot__avatar .avatar--icon i {
	font-size: 23px
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-top .slot-item .avt-img {
	width: 65px
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-top .slot-item h5 {
	font-size: 12px;
	margin: 10px 0 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-top .slot-item p {
	margin: 0;
	font-size: 9px;
	color: #a5a5a5;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-top .slot-item .slot-empty {
	background-color: grey;
	width: 65px;
	height: 65px;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px solid #fff;
	padding: 17px 0;
	font-size: 22px
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-top .slot-item.block .slot-empty {
	padding-top: 30px
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-top .slot-item.block h5 {
	color: #9c9c9c
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-top .slot-item.block .slot-block {
	border-top: 4px solid #9c9c9c;
	transform: rotate(-50deg)
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom {
	height: 135px;
	margin-top: 10px;
	display: grid;
	grid-template-columns: 32% 35% 33%
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-donate,
.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-info,
.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate {
	background-color: rgba(90, 90, 90, .4);
	border-radius: 8px;
	padding: 10px 8px 5px
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-info .marquee {
	height: 20px;
	overflow: hidden;
	position: relative
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-info .marquee span {
	position: absolute;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	padding-right: 50px;
	transform: translateX(100%);
	animation: scroll-left 12s linear infinite
}

@keyframes scroll-left {
	0% {
		transform: translateX(100%)
	}
	to {
		transform: translateX(-100%)
	}
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-info p:first-child {
	font-size: 12px;
	border-bottom: 1px solid grey;
	margin-bottom: 6px
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-info p:nth-child(2) {
	height: 91px;
	overflow: auto;
	margin-bottom: 0;
	font-size: 12px
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-info p:nth-child(2)::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .1);
	border-radius: 10px
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-info p:nth-child(2)::-webkit-scrollbar {
	height: 4px;
	width: 4px
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-info p:nth-child(2)::-webkit-scrollbar-thumb,
.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-info p:nth-child(2)::-webkit-scrollbar-thumb:horizontal {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .1);
	background-color: grey
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-donate,
.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate {
	margin: 0 5px
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-donate .item-tab-data,
.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate .item-tab-data {
	height: 30px;
	display: flex
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-donate .item-tab-data .name-donate,
.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate .item-tab-data .name-donate {
	width: 75%
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-donate .item-tab-data .name-donate .avt-img,
.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate .item-tab-data .name-donate .avt-img {
	width: 26px;
	float: left;
	margin-right: 5px
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-donate .item-tab-data .name-donate p,
.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate .item-tab-data .name-donate p {
	margin: 5px 0;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

@media(max-width:767px) {
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-donate .item-tab-data .name-donate .avt-img,
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate .item-tab-data .name-donate .avt-img {
		width: 22px
	}
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-donate .item-tab-data .name-donate p,
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate .item-tab-data .name-donate p {
		margin: 2px 0
	}
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-donate .item-tab-data .amount-donate,
.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate .item-tab-data .amount-donate {
	margin: 6px 0;
	font-size: 11px;
	width: 25%;
	color: #ff0;
	text-align: right
}

@media(max-width:767px) {
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-donate .item-tab-data .amount-donate,
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate .item-tab-data .amount-donate {
		margin: 1px 0
	}
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-donate .item-tab-data .amount-donate .fa-bitcoin,
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate .item-tab-data .amount-donate .fa-bitcoin {
		display: none
	}
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-donate .more-list-donate {
	text-align: center;
	height: 12px;
	cursor: pointer
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-donate .more-list-donate .fa-caret-down {
	font-size: 22px;
	margin-top: -5px
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate {
	margin: 0
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate .message-donate {
	font-size: 11.5px;
	height: 57px;
	overflow: auto;
	white-space: normal;
	word-break: break-word;
	margin-top: 5px
}

html.ie8 .connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate .message-donate::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
	border-radius: 10px;
	background-color: #333
}

html.ie8 .connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate .message-donate::-webkit-scrollbar {
	width: 4px;
	background-color: #333
}

html.ie8 .connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate .message-donate::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
	background-color: #949494
}

@media(min-width:992px) {
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate .message-donate::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
		border-radius: 10px;
		background-color: #333
	}
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate .message-donate::-webkit-scrollbar {
		width: 4px;
		background-color: #333
	}
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate .message-donate::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
		background-color: #949494
	}
}

.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate .time-donate {
	margin: 0;
	font-size: 10px;
	text-align: right
}

.connect__view--middle .box-room-slot .slot-sub .popup-tip {
	text-align: center;
	position: absolute;
	display: none
}

.connect__view--middle .box-room-slot .slot-sub .popup-tip.show-tip {
	display: block;
	animation: fadein 1s;
	-moz-animation: fadein 1s;
	-webkit-animation: fadein 1s
}

.connect__view--middle .box-room-slot .slot-sub .popup-tip .bg-tip {
	width: 90%;
	height: 300px
}

.connect__view--middle .box-room-slot .slot-sub .popup-tip .detail-tip {
	position: absolute;
	top: 50px;
	width: 100%;
	z-index: 9;
	color: #000;
	padding: 0 10px 10px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	background-image: linear-gradient(transparent, rgba(245, 249, 255, .1), rgba(245, 249, 255, .2), rgba(245, 249, 255, .3), rgba(245, 249, 255, .4), rgba(245, 249, 255, .5))
}

.connect__view--middle .box-room-slot .slot-sub .popup-tip .detail-tip img {
	width: 60px;
	height: 60px
}

.connect__view--middle .box-room-slot .slot-sub .popup-tip .detail-tip p.name-tip {
	margin-top: 15px;
	font-size: 18px
}

.connect__view--middle .box-room-slot .slot-sub .popup-tip .detail-tip p.name-tip .fa-bitcoin {
	color: #ffa600;
	background-color: #fff;
	border-radius: 50%
}

.connect__view--middle .box-room-slot .slot-sub .popup-tip .detail-tip p.mess-tip {
	font-size: 15px
}

.connect__view--middle .box-room-slot .center {
	align-self: flex-end;
	padding: 0 3px
}

.connect__view--middle .box-room-slot .center.count-user {
	font-size: 14px
}

.connect__view--middle .box-room-slot .non-exist {
	position: absolute;
	left: 0;
	right: 0;
	top: 40%;
	text-align: center
}

.connect__view--middle .box-room-chat {
	height: calc(100% - 310px)
}

.connect__view--middle .box-room-chat .global-chat {
	border: none;
	padding: 0;
	height: 100%
}

.connect__view--middle .box-room-chat .global-chat .global-chat-display {
	height: calc(100% - 60px)
}

@media(max-width:991px) {
	.connect__view--middle.box-room {
		padding: 0
	}
	.connect__view--middle.container-fluid {
		padding: 0;
		width: 100%
	}
	.connect__view--middle .box-room-slot {
		display: block;
		margin: 0;
		height: calc(100vh + 50px);
		border-radius: 0;
		padding: 10px
	}
	.connect__view--middle .box-room-slot .slot-main {
		display: grid;
		grid-template-columns: 30% 1fr;
		padding: 0
	}
	.connect__view--middle .box-room-slot .slot-main .slot-main-top {
		background-color: rgba(90, 90, 90, .4);
		border-radius: 8px;
		min-height: 110px
	}
	.connect__view--middle .box-room-slot .slot-main .slot-main-top .avt-img {
		width: 60px;
		margin-bottom: 5px
	}
	.connect__view--middle .box-room-slot .slot-main .slot-main-top h4 {
		margin: 0;
		font-size: 14px
	}
	.connect__view--middle .box-room-slot .slot-main .slot-main-top p {
		margin: 0
	}
	.connect__view--middle .box-room-slot .slot-main .slot-main-bottom {
		background-color: rgba(90, 90, 90, .4);
		border-radius: 8px;
		margin-bottom: 11px;
		margin-left: 5px
	}
	.connect__view--middle .box-room-slot .slot-main .slot-main-bottom .slot-item {
		padding-bottom: 5px
	}
	.connect__view--middle .box-room-slot .slot-main .slot-main-bottom .slot-item .avt-slot-img {
		margin: 5px 0
	}
	.connect__view--middle .box-room-slot .slot-main .slot-main-bottom .slot-item p {
		margin-top: 4px;
		font-size: 14px
	}
	.connect__view--middle .box-room-slot .slot-main .slot-main-bottom .slot-item h5 {
		width: 60px;
		height: 60px;
		margin: 5px auto;
		padding: 20px 0
	}
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-top {
		grid-template-columns: 1fr 1fr 1fr;
		height: auto
	}
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-top .pulse {
		border-radius: 50%;
		box-shadow: 0 0 0 rgba(224, 0, 0, .7);
		animation: pulse 2s infinite
	}
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-top .slot-item {
		padding: 5px
	}
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-top .slot-item .avt-img {
		width: 60px
	}
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-top .slot-item .slot-empty {
		width: 60px;
		height: 60px;
		padding: 15px 0
	}
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-top .slot-item.block .slot-empty {
		padding-top: 28px
	}
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom {
		display: table;
		width: 100%
	}
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-info p:nth-child(2) {
		height: 69px
	}
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-info .count-user {
		float: left
	}
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-donate,
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate {
		width: 49.4%;
		margin: 10px 0
	}
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .box-donate {
		float: left;
		min-height: 135px
	}
	.connect__view--middle .box-room-slot .slot-sub .slot-sub-bottom .display-donate {
		float: right;
		min-height: 135px
	}
	.connect__view--middle .box-room-slot .slot-sub .popup-tip {
		top: 137px;
		left: 0
	}
	.connect__view--middle .box-room-slot .slot-sub .popup-tip .detail-tip {
		background-image: linear-gradient(transparent, rgba(245, 249, 255, .5), rgba(245, 249, 255, .6), rgba(245, 249, 255, .7), rgba(245, 249, 255, .8), rgba(245, 249, 255, .9))
	}
	.connect__view--middle .box-room-slot .message-form {
		background-color: #5a5a5a;
		border-radius: 25px;
		padding: 12px 15px
	}
	.connect__view--middle .box-room-slot .message-form p {
		margin: 0
	}
	.connect__view--middle .box-room-slot .message-form p .fa-paper-plane {
		margin-right: 10px
	}
}

@media(max-width:991px) {
	.connect__view--right {
		right: -100%
	}
	.connect__view--right.show-mobile {
		right: 0!important
	}
}

.connect__view--right .tab-info {
	text-align: center
}

.connect__view--right .tab-info .item-tab-info {
	display: inline-flex
}

.connect__view--right .tab-info .item-tab-info p {
	font-size: 15px;
	font-weight: 600;
	margin: 12px;
	letter-spacing: .5px;
	cursor: pointer
}

.connect__view--right .tab-info .item-tab-info p.active,
.connect__view--right .tab-info .item-tab-info p:hover {
	border-bottom: 3px solid #f0564a;
	color: #f0564a
}

.connect__view--right .tab-data-friend {
	margin-bottom: 20px
}

.connect__view--right .tab-data-friend .see-more {
	font-size: 13px;
	padding: 5px 0;
	cursor: pointer
}

.connect__view--right .tab-data-friend .see-more:hover {
	font-weight: 600
}

.connect__view--right .tab-data-friend .tab-add-friend {
	height: 30px;
	padding: 0 10px;
	margin: 5px 0 20px;
	display: grid;
	grid-template-columns: 1fr 118px
}

.connect__view--right .tab-data-friend .tab-add-friend .group-search {
	width: 97%
}

.connect__view--right .tab-data-friend .tab-add-friend .group-search input {
	height: 30px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px
}

.connect__view--right .tab-data-friend .tab-add-friend .group-search .input-group-addon {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px
}

.connect__view--right .tab-data-friend .tab-add-friend p {
	float: right;
	margin: 0;
	padding: 5px 9px 3px;
	border: 1px solid #e6eaee;
	border-radius: 15px;
	font-size: 12px;
	font-weight: 600;
	text-align: center
}

.connect__view--right .tab-data-friend .tab-add-friend p.active,
.connect__view--right .tab-data-friend .tab-add-friend p:hover {
	background: #f0f0f0;
	cursor: pointer
}

.connect__view--right .tab-data-friend .item-tab-data,
.connect__view--right .tab-data-info .item-tab-data {
	padding: 0 8px;
	margin: 5px 0 15px
}

.connect__view--right .tab-data-friend .item-tab-data .avt,
.connect__view--right .tab-data-info .item-tab-data .avt {
	height: 55px
}

.connect__view--right .tab-data-friend .item-tab-data .avt-img,
.connect__view--right .tab-data-info .item-tab-data .avt-img {
	margin-top: 5px
}

.connect__view--right .tab-data-friend .item-tab-data .avt-img,
.connect__view--right .tab-data-friend .item-tab-data h4.media-heading,
.connect__view--right .tab-data-info .item-tab-data .avt-img,
.connect__view--right .tab-data-info .item-tab-data h4.media-heading {
	cursor: pointer
}

@media(max-width:991px) {
	.connect__view--right .tab-data-friend .item-tab-data,
	.connect__view--right .tab-data-info .item-tab-data {
		text-align: left
	}
}

.connect__view--right .tab-data-friend .item-tab-data:first-child,
.connect__view--right .tab-data-info .item-tab-data:first-child {
	margin-top: 10px
}

.connect__view--right .tab-data-friend .item-tab-data .media-left .vip-avatar,
.connect__view--right .tab-data-info .item-tab-data .media-left .vip-avatar {
	top: 0;
	left: 0
}

.connect__view--right .tab-data-friend .item-tab-data .media-body .media-heading,
.connect__view--right .tab-data-info .item-tab-data .media-body .media-heading {
	font-size: 15px;
	font-weight: 700;
	line-height: 27px;
	margin-bottom: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 275px
}

.connect__view--right .tab-data-friend .item-tab-data .media-body .item-tab-description,
.connect__view--right .tab-data-info .item-tab-data .media-body .item-tab-description {
	font-size: 12px;
	color: grey;
	margin-bottom: 0
}

.connect__view--right .tab-data-friend .item-tab-data .media-body .item-tab-description strong,
.connect__view--right .tab-data-info .item-tab-data .media-body .item-tab-description strong {
	color: #000
}

.connect__view--right .tab-data-friend .item-tab-data .media-body .btn-add-friend button,
.connect__view--right .tab-data-info .item-tab-data .media-body .btn-add-friend button {
	margin-right: 5px;
	min-width: 78px;
	font-family: Poppins
}

.connect__view--right .tab-data-info .box-action-info {
	display: grid;
	grid-template-columns: 100px 1fr;
	padding: 0 10px;
	margin: 5px 0 10px
}

.connect__view--right .tab-data-info .box-action-info .btn-edit {
	text-align: center;
	margin: 0;
	padding: 5px 9px 3px;
	border: 1px solid #e6eaee;
	border-radius: 15px;
	font-size: 13px
}

.connect__view--right .tab-data-info .box-action-info .btn-change-view {
	text-align: right
}

.connect__view--right .tab-data-info .box-action-info .btn-change-view p {
	margin: 0;
	padding-top: 3px;
	width: 27px;
	height: 29px;
	display: inline-block;
	text-align: center
}

.connect__view--right .tab-data-info .box-action-info .btn-change-view p .fa {
	font-size: 23px;
	color: grey
}

.connect__view--right .tab-data-info .box-action-info .btn-change-view p:hover,
.connect__view--right .tab-data-info .box-action-info .btn-edit:hover {
	background: #f0f0f0;
	cursor: pointer;
	border-radius: 15px
}

.connect__view--right .tab-data-info .box-info {
	padding: 0 15px
}

@media(max-width:767px) {
	.connect__view--right .tab-data-info .box-info .table-responsive {
		border: none
	}
}

.connect__view--right .tab-data-info .box-info .table-responsive .table tr td {
	min-width: 80px;
	padding-top: 12px;
	font-weight: 600;
	font-size: 13px
}

.connect__view--right .tab-data-info .box-info .table-responsive .table tr td:first-child {
	color: #90959c
}

.connect__view--right .tab-data-info .box-info .table-responsive .table tr td .fa {
	font-size: 15px
}

.connect__view--right .tab-data-info .box-info .table-responsive .table tr td .btn-like {
	color: green
}

.connect__view--right .tab-data-info .box-info .table-responsive .table tr td .btn-dislike {
	color: #f0564a
}

.connect__view--right .tab-data-info .box-info .text-description {
	text-align: center;
	font-weight: 600;
	margin-bottom: 20px;
	font-size: 13px
}

.connect__view--right .tab-data-info .box-user-comment {
	border-top: 1px solid #e6eaee
}

.connect__view--right .tab-data-info .box-user-comment .title {
	padding: 10px;
	font-size: 14px
}

.connect__view--right .tab-data-info .box-user-comment .list-comment {
	margin-bottom: 15px
}

.connect__view--right .tab-data-info .box-user-comment .list-comment .media-heading {
	font-size: 13px
}

.connect__view--right .tab-data-info .box-user-comment .list-comment .media-heading.color-vip-1 {
	color: #007895
}

.connect__view--right .tab-data-info .box-user-comment .list-comment .media-heading.color-vip-6 {
	color: #aa0e16
}

.connect__view--right .tab-data-info .box-user-comment .list-comment .media-heading.color-vip-10 {
	color: #be38de
}

.connect__view--right .tab-data-info .box-user-comment .list-comment .media-heading.color-vip-14 {
	color: #ffc107
}

.connect__view--right .tab-data-info .box-user-comment .list-comment .item-tab-description {
	color: #000;
	font-size: 12px
}

.connect__view--right .tab-data-info .box-user-comment .list-comment .item-tab-description:last-child {
	color: #90959c;
	font-size: 10px;
	margin-top: 3px
}

.connect__view--right .tab-data-info .box-user-comment .list-comment .media-right .fa {
	font-size: 18px
}

.connect__view--right .tab-data-info .box-user-comment .list-comment .media-right .fa.fa-thumbs-up {
	color: green
}

.connect__view--right .tab-data-info .box-user-comment .list-comment .media-right .fa.fa-thumbs-down {
	color: #f0564a
}

.connect__view--right .required-login {
	text-align: center;
	padding: 100px 20px;
	color: #90959c
}

@media(max-width:991px) {
	.fixed-header .connect__view--left,
	.fixed-header .connect__view--right {
		top: 61px
	}
}

.info-user-modal,
.room-chat-modal {
	margin: auto;
	left: 50%;
	top: 50%;
	position: fixed;
	transform: translate(-50%, -50%)!important
}

.info-user-modal {
	width: 450px
}

.info-user-modal .box-info-user {
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #e6eaee
}

.info-user-modal .box-info-user .avt-img {
	width: 144px;
	height: 144px;
	position: absolute;
	top: -72px;
	left: calc(50% - 72px);
	border: 5px solid #fff
}

.info-user-modal .box-info-user h5 {
	margin: 30px 0 5px;
	font-weight: 600
}

.info-user-modal .box-info-user p {
	font-size: 13px;
	color: #90959c;
	margin: 0
}

.info-user-modal .box-info-user .icon-social {
	text-align: right;
	min-height: 30px
}

.info-user-modal .box-info-user .icon-social .bg-white {
	background: #fff!important
}

.info-user-modal .box-info-user .icon-social a:first-child {
	float: left;
	background: #efefef;
	border-radius: 15px;
	padding: 1px 7px 1px 0;
	font-weight: 600
}

.info-user-modal .box-info-user .icon-social a:first-child img {
	margin: 0 5px 0 0
}

.info-user-modal .box-info-user .icon-social a i.fab,
.info-user-modal .box-info-user .icon-social a img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-left: 4px
}

.info-user-modal .box-info-user .icon-social a i.fab {
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #fff
}

.info-user-modal .box-info-user .icon-social a i.fab.fa-facebook-f {
	background-color: #4267b2
}

.info-user-modal .box-info-user .icon-social a i.fab.fa-youtube {
	background-color: red
}

.info-user-modal .box-info-user .icon-social a i.fab.fa-discord {
	background-color: #7189dc
}

.info-user-modal .box-info-user .action-user .btn {
	width: 40%;
	margin: 15px 2% 0;
	padding: 4px 16px
}

.info-user-modal .box-info-user .action-user .btn .fas {
	margin-right: 8px
}

.info-user-modal .table-responsive img {
	width: 30px;
	margin-right: 3px
}

.info-user-modal .table-responsive .table {
	margin: 0
}

.info-user-modal .table-responsive .table tr td {
	min-width: 85px;
	padding-top: 15px;
	font-weight: 600
}

.info-user-modal .table-responsive .table tr td:first-child {
	color: #90959c
}

.info-user-modal .table-responsive .table tr td .fa {
	font-size: 15px
}

.info-user-modal .table-responsive .table tr td .btn-dislike,
.info-user-modal .table-responsive .table tr td .btn-like,
.info-user-modal .table-responsive .table tr td .btn-view-reviews {
	cursor: pointer
}

.info-user-modal .table-responsive .table tr td .btn-dislike:hover,
.info-user-modal .table-responsive .table tr td .btn-like:hover,
.info-user-modal .table-responsive .table tr td .btn-view-reviews:hover {
	opacity: .7
}

.info-user-modal .table-responsive .table tr td .btn-like {
	color: green
}

.info-user-modal .table-responsive .table tr td .btn-dislike {
	color: #f0564a
}

.info-user-modal .table-responsive .table tr td .btn-view-reviews {
	color: #337ab7
}

.info-user-modal .table-responsive .table tr td .text-description {
	text-align: center;
	margin-bottom: 10px;
	font-size: 13px;
	color: #000;
	font-weight: 600
}

.info-user-modal .table-responsive .table tr td.form-review .btn-fill {
	width: 100%;
	padding: 5px;
	margin-top: 5px
}

.info-user-modal .box-comments {
	border-top: 1px solid #e6eaee;
	padding-top: 0!important;
	position: relative;
	height: 220px
}

.info-user-modal .box-comments .list-comment {
	position: absolute;
	overflow: auto;
	height: 220px;
	top: 0
}

.info-user-modal .item-tab-data .avt-img {
	margin-top: 5px;
	width: 40px
}

.info-user-modal .item-tab-data .avt-img,
.info-user-modal .item-tab-data h4.media-heading {
	cursor: pointer;
	font-size: 13px
}

.info-user-modal .item-tab-data .avt-img.color-vip-1,
.info-user-modal .item-tab-data h4.media-heading.color-vip-1 {
	color: #007895
}

.info-user-modal .item-tab-data .avt-img.color-vip-6,
.info-user-modal .item-tab-data h4.media-heading.color-vip-6 {
	color: #aa0e16
}

.info-user-modal .item-tab-data .avt-img.color-vip-10,
.info-user-modal .item-tab-data h4.media-heading.color-vip-10 {
	color: #be38de
}

.info-user-modal .item-tab-data .avt-img.color-vip-14,
.info-user-modal .item-tab-data h4.media-heading.color-vip-14 {
	color: #ffc107
}

@media(max-width:991px) {
	.info-user-modal .item-tab-data {
		text-align: left
	}
}

.info-user-modal .item-tab-data:first-child {
	margin-top: 10px
}

.info-user-modal .item-tab-data .media-left .vip-avatar {
	top: 0;
	left: 0
}

.info-user-modal .item-tab-data .media-right .fa {
	font-size: 18px!important
}

.info-user-modal .item-tab-data .media-right .fa.fa-thumbs-up {
	color: green
}

.info-user-modal .item-tab-data .media-right .fa.fa-thumbs-down {
	color: #f0564a
}

.info-user-modal .item-tab-data .media-body .media-heading {
	color: #000;
	font-weight: 700;
	line-height: 27px;
	margin-bottom: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 275px
}

.info-user-modal .item-tab-data .media-body .item-tab-description {
	font-size: 12px;
	color: #000;
	margin-bottom: 0
}

.info-user-modal .item-tab-data .media-body .item-tab-description:last-child {
	font-size: 10px;
	color: grey
}

.info-user-modal .item-tab-data .media-body .btn-add-friend button {
	margin-right: 5px;
	min-width: 78px;
	font-family: Poppins
}

@media(max-width:767px) {
	.info-user-modal {
		width: 95%
	}
	.info-user-modal .box-info-user .avt-img {
		width: 120px;
		height: 120px;
		top: -60px;
		left: calc(50% - 60px)
	}
	.info-user-modal .table-responsive {
		border: none
	}
}

@media(max-width:991px) {
	.room-chat-modal {
		width: 97%
	}
	.room-chat-modal .modal-content .modal-header {
		padding-bottom: 10px
	}
	.room-chat-modal .modal-content .modal-header h4 {
		text-transform: capitalize;
		font-size: 16px
	}
	.room-chat-modal .box-room-chat .global-chat {
		border: none;
		padding: 0
	}
	.room-chat-modal .box-room-chat .global-chat .global-chat-display {
		height: calc(100vh - 230px)
	}
	.room-chat-modal .box-room-chat .global-chat .connect-room {
		grid-template-columns: 1fr 156px
	}
	.room-chat-modal .box-room-chat .global-chat .connect-room .connect-chat {
		grid-template-columns: 42px 42px 42px 42px;
		text-align: center
	}
	.room-chat-modal .box-room-chat .global-chat .connect-room .connect-chat p {
		background-color: #f0f0f0;
		border-radius: 50%;
		margin-left: 2px
	}
	.room-chat-modal .box-room-chat .global-chat .connect-room .connect-chat p span {
		display: none
	}
	.room-chat-modal .box-room-chat .global-chat .connect-room .connect-chat .btn-image {
		width: 39px;
		padding: 4px 9px 0;
		right: 127px
	}
}

.connect-modal .aside {
	padding: 0
}

.connect-modal .aside .example-custom-input,
.connect-modal .aside input,
.connect-modal .aside select {
	height: 35px;
	font-size: 14px;
	padding-left: 12px;
	margin-bottom: 0!important
}

.connect-modal .aside textarea {
	padding: 5px 12px
}

.connect-modal .aside .btn-update {
	height: 40px;
	line-height: 40px;
	font-size: 17px;
	margin: 15px 0
}

.connect-modal input:disabled,
.connect-modal select:disabled {
	background-color: #fffdfd;
	cursor: not-allowed
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 #fd9090
	}
	70% {
		box-shadow: 0 0 0 4px #78ac68
	}
	to {
		box-shadow: 0 0 0 0 #f3c90d
	}
}

@keyframes fadein {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
