<body class="fixed-header" style="margin-top: 75px">
  <noscript
    >Bạn cần có cho phép Javascript hoạt động để chạy ứng dụng
    PlayerDuo.</noscript
  >
  <div id="root">
    <!-- <app-frontend-user-header></app-frontend-user-header> -->

    <div class="notifications-wrapper"></div>
    <div></div>
    <div class="wrapper">
      <div class="setting__main row">
        <div class="setting__main--menu col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="menu">
            <div class="menu__setting panel-group">
              <div class="menu__setting--main panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    <a aria-expanded="true" class="" role="button" href="#"
                      >TÀI KHOẢN
                    </a>
                  </div>
                </div>
                <div class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="panel-group">
                      <div class="menu__setting--sub panel panel-default">
                        <div class="panel-heading">
                          <div class="active panel-title">
                            <i class="fas fa-user-tie"></i> Thông tin cá nhân
                          </div>
                        </div>
                      </div>
                      <div class="menu__setting--sub panel panel-default">
                        <div class="panel-heading">
                          <div class="panel-title">
                            <i class="fas fa-sliders-h"></i> Thống kê
                          </div>
                        </div>
                      </div>
                      <div class="menu__setting--sub panel panel-default">
                        <div class="panel-heading">
                          <div class="panel-title">
                            <i class="fas fa-sliders-h"></i> Lịch sử thuê
                          </div>
                        </div>
                      </div>
                      <div class="menu__setting--sub panel panel-default">
                        <div class="panel-heading">
                          <div class="panel-title">
                            <i class="fas fa-sliders-h"></i> Người thuê
                          </div>
                        </div>
                      </div>
                      <!-- <div class="menu__setting--sub panel panel-default">
                                   <div class="panel-heading">
                                      <div class="title-sub  panel-title"><a aria-expanded="true" class="" role="button" href="#"><i class="fas fa-cog"></i> lịch sử thuê <i class="fas fa-chevron-down"></i></a></div>
                                   </div>
                                   <div class="panel-collapse collapse in" style="">
                                      <div class="panel-body">
                                         <div class="panel-group">
                                            <div class="menu__setting--last panel panel-default">
                                               <div class="panel-heading">
                                                  <div class="panel-title">Email</div>
                                               </div>
                                            </div>
                                            <div class="menu__setting--last panel panel-default">
                                               <div class="panel-heading">
                                                  <div class="panel-title">Tài khoản và mật khẩu</div>
                                               </div>
                                            </div>
                                            <div class="menu__setting--last panel panel-default">
                                               <div class="panel-heading">
                                                  <div class="panel-title">Khoá bảo vệ</div>
                                               </div>
                                            </div>
                                            <div class="menu__setting--last panel panel-default">
                                               <div class="panel-heading">
                                                  <div class="panel-title">Vip</div>
                                               </div>
                                            </div>
                                            <div class="menu__setting--last panel panel-default">
                                               <div class="panel-heading">
                                                  <div class="panel-title">Hiển thị</div>
                                               </div>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                </div> -->
                      <!--
                                <div class="menu__setting--sub panel panel-default">
                                   <div class="panel-heading">
                                      <div class="  panel-title"><i class="fas fa-wallet"></i> Ví </div>
                                   </div>
                                </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="menu__setting--main panel panel-default">
                       <div class="panel-heading">
                          <div class="panel-title"><a aria-expanded="false" class="collapsed" role="button" href="#">TRANG CÁ NHÂN <i class="fas fa-chevron-right"></i></a></div>
                       </div>
                       <div class="panel-collapse collapse">
                          <div class="panel-body">
                             <div class="panel-group">
                                <div class="menu__setting--sub panel panel-default">
                                   <div class="panel-heading">
                                      <div class="title-sub  panel-title"><a aria-expanded="false" class="collapsed" role="button" href="#"><i class="fas fa-tags"></i> Hashtags <i class="fas fa-chevron-right"></i></a></div>
                                   </div>
                                   <div class="panel-collapse collapse">
                                      <div class="panel-body">
                                         <div class="panel-group">
                                            <div class="menu__setting--last panel panel-default">
                                               <div class="panel-heading">
                                                  <div class="panel-title">Dành cho sáng tạo nội dung</div>
                                               </div>
                                            </div>
                                            <div class="menu__setting--last panel panel-default">
                                               <div class="panel-heading">
                                                  <div class="panel-title">Dành cho người xem</div>
                                               </div>
                                            </div>
                                         </div>
                                      </div>
                                   </div>
                                </div>


                             </div>
                          </div>
                       </div>
                    </div> -->
            </div>
            <div class="btn-drawer-setting visible-xs">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <div class="aside">
            <div class="row flowaccount">
              <div class="col-sm-4 col-xs-12">
                <div class="border">
                  <p>TỔNG TIỀN ĐÃ NẠP</p>
                  <span>0đ </span>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="border">
                  <p>TỔNG TIỀN ĐÃ DONATE</p>
                  <span>0đ </span>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12">
                <div class="border">
                  <p>SỐ GIỜ ĐÃ THUÊ</p>
                  <span>0 Giờ</span>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12 personalinfo">
                <h3>Thông tin cá nhân</h3>
                <div class="d-flex img-avatar">
                  <img
                    src="{{ user.avatar }}"
                    class=""
                    alt="avatar"
                    sizes="sm"
                  />

                </div>
                <form class="from-userinfo" [formGroup]="myForm" (ngSubmit)="onSubmit()">
                  <div class="cropimg-avatar">

                    <input type="file" name="avatar" />
                  </div>
                  <div class="fieldGroup">
                    <p class="control-label">Full name (*)</p>
                    <input
                    [class.is-invalid] = "myForm.get('name')?.invalid && (myForm.get('name')?.dirty || myForm.get('name')?.touched)"
                    formControlName="name"
                      type="text"
                      name="name"
                      placeholder=""
                      maxlength="5000"
                      autocomplete="false"
                      [(ngModel)]="user.name"
                    />
                    <div *ngIf = "myForm.get('name')?.hasError('required')" class="invalid-feedback">
                      Name is required!
                    </div>
                    <div *ngIf = "myForm.get('name')?.hasError('maxlength')" class="invalid-feedback">
                      Name max 30 characters!
                    </div>
                    <div *ngIf = "myForm.get('name')?.hasError('pattern')" class="invalid-feedback">
                      Name only alphabet!
                    </div>
                  </div>


                  <div class="fieldGroup">
                    <p class="control-label">Date of birth (*)</p>
                    <input [class.is-invalid] = "myForm.get('birth_day')?.invalid && (myForm.get('birth_day')?.dirty || myForm.get('birth_day')?.touched)" type="date" formControlName="birth_day" [(ngModel)]="user.birth_day" />
                    <div *ngIf = "myForm.get('birth_day')?.hasError('required')" class="invalid-feedback">
                      Date is required!
                    </div>
                    <div *ngIf = "myForm.get('birth_day')?.hasError('pattern')" class="invalid-feedback">
                      Incorrect date format!
                    </div>
                  </div>
                  <div class="fieldGroup">
                    <p class="control-label">Gender (*)</p>
                    <input
                    [class.is-invalid] = "myForm.get('gender')?.invalid && (myForm.get('gender')?.dirty || myForm.get('gender')?.touched)"
                    formControlName="gender"
                      type="text"
                      name="gender"
                      placeholder=""
                      maxlength="5000"
                      autocomplete="false"
                      [(ngModel)]="user.gender"
                    />
                    <div *ngIf = "myForm.get('gender')?.hasError('required')" class="invalid-feedback">
                      Gender is required!
                    </div>
                    <div *ngIf = "myForm.get('gender')?.hasError('maxlength')" class="invalid-feedback">
                      Gender max 5 characters!
                    </div>
                    <div *ngIf = "myForm.get('gender')?.hasError('pattern')" class="invalid-feedback">
                      Gender only alphabet!
                    </div>
                  </div>
                  <div class="fieldGroup">
                    <p class="control-label">City (*)</p>
                    <input
                    [class.is-invalid] = "myForm.get('city')?.invalid && (myForm.get('city')?.dirty || myForm.get('city')?.touched)"
                    formControlName="city"
                      type="text"
                      name="city"
                      placeholder=""
                      maxlength="5000"
                      autocomplete="false"
                      [(ngModel)]="user.city"

                    />
                    <div *ngIf = "myForm.get('city')?.hasError('required')" class="invalid-feedback">
                      City is required!
                    </div>
                    <div *ngIf = "myForm.get('city')?.hasError('maxlength')" class="invalid-feedback">
                      City max 30 characters!
                    </div>
                    <div *ngIf = "myForm.get('city')?.hasError('pattern')" class="invalid-feedback">
                      City only alphabet!
                    </div>
                  </div>
                  <div class="fieldGroup">
                    <p class="control-label">Nation (*)</p>
                    <input
                    [class.is-invalid] = "myForm.get('nation')?.invalid && (myForm.get('nation')?.dirty || myForm.get('nation')?.touched)"
                    formControlName="nation"
                      type="text"
                      name="nation"
                      placeholder=""
                      maxlength="5000"
                      autocomplete="false"
                      [(ngModel)]="user.nation"

                    />
                    <div *ngIf = "myForm.get('nation')?.hasError('required')" class="invalid-feedback">
                      Nation is required!
                    </div>
                    <div *ngIf = "myForm.get('nation')?.hasError('maxlength')" class="invalid-feedback">
                      Nation max 30 characters!
                    </div>
                    <div *ngIf = "myForm.get('nation')?.hasError('pattern')" class="invalid-feedback">
                      Nation only alphabet!
                    </div>
                  </div>
                  <div class="fieldGroup">
                    <p class="control-label">Height</p>
                    <input
                    [class.is-invalid] = "myForm.get('height')?.invalid && (myForm.get('height')?.dirty || myForm.get('height')?.touched)"
                     type="text"
                      formControlName="height"
                      [(ngModel)]="user.height"/>

                      <div *ngIf = "myForm.get('height')?.hasError('maxlength')" class="invalid-feedback">
                        Height max 10 characters!
                      </div>
                      <div *ngIf = "myForm.get('height')?.hasError('pattern')" class="invalid-feedback">
                        Height must be numeric!
                      </div>
                  </div>
                  <div class="fieldGroup">
                    <p class="control-label">weight</p>
                    <input
                    [class.is-invalid] = "myForm.get('weight')?.invalid && (myForm.get('weight')?.dirty || myForm.get('weight')?.touched)"
                    formControlName="weight"
                      type="text"
                      name="weight"
                      placeholder=""
                      maxlength="5000"
                      autocomplete="false"
                      [(ngModel)]="user.weight"
                    />

                    <div *ngIf = "myForm.get('weight')?.hasError('maxlength')" class="invalid-feedback">
                      Weight max 10 characters!
                    </div>
                    <div *ngIf = "myForm.get('weight')?.hasError('pattern')" class="invalid-feedback">
                      Weight must be numeric!
                    </div>
                  </div>
                  <div class="fieldGroup">
                    <p class="control-label">Hobby</p>
                    <input
                    [class.is-invalid] = "myForm.get('hobby')?.invalid && (myForm.get('hobby')?.dirty || myForm.get('hobby')?.touched)"
                    formControlName="hobby"
                      type="text"
                      name="hobby"
                      placeholder=""
                      maxlength="5000"
                      autocomplete="false"
                      [(ngModel)]="user.hobby"
                    />

                    <div *ngIf = "myForm.get('hobby')?.hasError('maxlength')" class="invalid-feedback">
                      Hobby max 30 characters!
                    </div>

                  </div>
                  <div class="fieldGroup">
                    <p class="control-label">Introducion</p>
                    <textarea
                    [class.is-invalid] = "myForm.get('introducion')?.invalid && (myForm.get('introducion')?.dirty || myForm.get('introducion')?.touched)"
                      name="introducion"
                      formControlName="introducion"
                      [(ngModel)]="user.introducion" >

                    </textarea>

                    <div *ngIf = "myForm.get('introducion')?.hasError('maxlength')" class="invalid-feedback">
                      Introducion max 50 characters!
                    </div>

                  </div>
                  <div class="fieldGroup">
                    <p class="control-label">Requirement</p>
                    <textarea
                    [class.is-invalid] = "myForm.get('requirement')?.invalid && (myForm.get('requirement')?.dirty || myForm.get('requirement')?.touched)"
                     name="requirement"
                     formControlName="requirement"
                     [(ngModel)]="user.requirement">


                    </textarea>
                    <div *ngIf = "myForm.get('requirement')?.hasError('maxlength')" class="invalid-feedback">
                      Requirement max 50 characters!
                    </div>

                  </div>
                  <div class="fieldGroup">
                    <p class="control-label">Facebook</p>
                    <input
                    [class.is-invalid] = "myForm.get('facebook')?.invalid && (myForm.get('facebook')?.dirty || myForm.get('facebook')?.touched)"
                    formControlName="facebook"
                      type="text"
                      name="facebook"
                      placeholder=""
                      maxlength="5000"
                      autocomplete="false"
                      [(ngModel)]="user.facebook"
                    />
                    <div *ngIf = "myForm.get('facebook')?.hasError('maxlength')" class="invalid-feedback">
                      Facebook max 30 characters!
                    </div>
                    
                  </div>
                  <button type="submit" class="btn-update">Update</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="button-scroll-top" style="display: none">
      <button><i class="fas fa-chevron-up"></i></button>
    </div>
  </div>
  <app-frontend-footer></app-frontend-footer>
</body>
