<div class="wrapper">
  <div class="container container2">

     <div class="filter-player row">
        <div xl="12" class="col-lg-12 col-md-12 col-sm-12">
           <section id="search">
              <div class="player-select div-autoComplete-search">
                 <label for="search-input"><i class="fa fa-search" aria-hidden="true"></i><span
                       class="sr-only">Search Players</span></label><i class="fa fa-bars setting-search-index"
                    aria-hidden="true"></i><input class="form-control input-lg" placeholder="Tên game"
                    autocomplete="off" spellcheck="false" autocorrect="off" tabindex="1" name="gameCategory"
                    type="text" value="">
                 <div class="suggestion-game-hide"></div>
              </div>
           </section>
        </div>
        <div xl="12" class="col-lg-12 col-md-12 col-sm-12">
           <section class="search-destop">
              <div class="text-right col-md-3"></div>
              <div class="col-md-4">
                 <div class="player-select div-autoComplete-search">
                    <input class="form-control" name="gameCategory" placeholder="Tên game" type="text"
                       autocomplete="off" value="">
                    <div class="suggestion-game-hide"></div>
                 </div>
              </div>
              <div class="text-left col-md-3"><button class="btn btn-danger btn-filter"><span>Bộ
                       lọc</span></button><button class="btn btn-success btn-search"><span>Tìm
                       kiếm</span>&nbsp;</button></div>
           </section>
        </div>
     </div>
     <div class="list-player">
        <div>
           <section class="box vip-player">
              <h4 class="section-title">VIP PLAYER</h4>
              <button class="refresh-btn"><i class="fas fa-sync" aria-hidden="true"
                    style="margin-right: 5px;"></i><span>Làm mới</span></button>
           </section>
           <div class="row flex-card">

              <div class="player-information-card-wrap" *ngFor="let user of vip_user">
                 <div class="player-avatar">
                    <img
                       src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPxZ7cdHVKGvs3elopp8Om8nYqkGRGYIwsYQ&usqp=CAU"
                       class="" alt="PD" id="avt-img-reponsiver">
                    <div class="player-price">{{user.price|number}} đ/h</div>
                    <div class="hidden-information">
                       <p><span>cái gì cũng hay nhưng ko giỏi<br></span></p>
                       <div class="rent"><a href="https://playerduo.com/nangmuathu" target="_blank"
                             rel="noopener noreferrer"> <span>Thuê ngay</span></a></div>
                    </div>
                 </div>
                 <div class="player-information">
                    <h3 class="player-name">
                       <a href="/nangmuathu">{{user.name}}</a>
                       <div class="player-status ready"> </div>
                    </h3>
                    <p class="player-title">123</p>
                    <div class="category">
                       <div class="div--flex"><img
                             src="https://files.playerduo.com/production/static-files/game-category/other.png"
                             class="" alt="category logo"><span>Liên minh Huyền thoại</span></div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div>
           <section class="hot-player">
              <h4 class="section-title">HOT PLAYER</h4>
              <button class="refresh-btn"><i class="fas fa-sync" aria-hidden="true"
                    style="margin-right: 5px;"></i><span>Làm mới</span></button>
           </section>
           <div class="row flex-card">
              <div class="player-information-card-wrap" *ngFor="let user of users">
                 <div class="player-avatar">
                    <img
                       src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPxZ7cdHVKGvs3elopp8Om8nYqkGRGYIwsYQ&usqp=CAU"
                       class="" alt="PD" id="avt-img-reponsiver">
                    <div class="player-price">{{user.price|number}} đ/h</div>
                    <div class="hidden-information">
                       <p><span>Là shipper nhưng không thích ship đồ, chỉ thích ship trái tim em cho anh thôi
                             :))<br></span></p>
                       <div class="rent"><a href="https://playerduo.com/ngan2kvjppro" target="_blank"
                             rel="noopener noreferrer"> <span>Thuê ngay</span></a></div>
                    </div>
                 </div>
                 <div class="player-information">
                    <h3 class="player-name">
                       <a href="/ngan2kvjppro">{{user.name}} 🍑</a>
                       <div class="player-status ready"> </div>
                    </h3>
                    <p class="player-title">Em là tay to khá là hay ho</p>
                    <div class="category">
                       <div class="div--flex"><img
                             src="https://files.playerduo.com/production/static-files/game-category/other.png"
                             class="" alt="category logo"><span>LOL - PUBGPC - CSGO - DTCL - VLR</span></div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div>
           <section class="rent-player">
              <h4 class="section-title"><span>Mới Tham Gia</span> (490)</h4>
              <button class="refresh-btn"><i class="fas fa-sync fa-spin" aria-hidden="true"
                    style="margin-right: 5px;"></i><span>Làm mới</span></button>
           </section>
           <div class="row flex-card">
            <div class="player-information-card-wrap" *ngFor="let user of new_user">
              <div class="player-avatar">
                 <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPxZ7cdHVKGvs3elopp8Om8nYqkGRGYIwsYQ&usqp=CAU"
                    class="" alt="PD" id="avt-img-reponsiver">
                 <div class="player-price">{{user.price|number}} đ/h</div>
                 <div class="hidden-information">
                    <p><span>cái gì cũng hay nhưng ko giỏi<br></span></p>
                    <div class="rent"><a href="https://playerduo.com/nangmuathu" target="_blank"
                          rel="noopener noreferrer"> <span>Thuê ngay</span></a></div>
                 </div>
              </div>
              <div class="player-information">
                 <h3 class="player-name">
                    <a href="/nangmuathu">{{user.name}}</a>
                    <div class="player-status ready"> </div>
                 </h3>
                 <p class="player-title">123</p>
                 <div class="category">
                    <div class="div--flex"><img
                          src="https://files.playerduo.com/production/static-files/game-category/other.png"
                          class="" alt="category logo"><span>Liên minh Huyền thoại</span></div>
                 </div>
              </div>
           </div>
           </div>
        </div>
     </div>
  </div>
</div>
<div id="button-scroll-top" style="display: none;">
  <button><i class="fas fa-chevron-up"></i></button>
</div>
